.tft-about-us-wrapper{

}
.tft-about-us-wrapper .tft-about-us-grid .tft-about-us-content h6{
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 130%;
    letter-spacing: 0.16px;
    text-transform: uppercase;
    color: #B58E53;
}
.tft-about-us-wrapper .tft-about-us-grid .tft-about-us-content h3{
    font-size: 56px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
    color: #595349;
}
.tft-about-us-wrapper .tft-about-us-grid .tft-about-us-content p{
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%;
    color: #99948D;
}
.tft-about-us-wrapper .tft-about-us-grid .tft-about-us-content .read-more a{
    width: 156px;
    height: 156px;
    border: 1px solid #B58E53;
    display: inline-block;
    border-radius: 50%;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    color: #B58E53;
}