.tft-destination-wrapper a {
    color: #1D2A3B;
  }
  .tft-destination-wrapper .tft-destination {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 20px;
  }
  .tft-destination-wrapper .tft-destination-title a {
    font-size: 24px;
    font-weight: 600;
    margin: 6px 0px;
    display: block;
  }
  .tft-destination-wrapper .tft-destination-details {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  .tft-destination-wrapper .tft-destination-details ul {
    max-width: 50%;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  .tft-destination-wrapper .tft-destination-details ul li a {
    font-size: 16px;
    font-weight: 400;
  }
  .tft-destination-wrapper .tft-destination-details ul li a:hover {
    color: #F15D30;
  }
  .tft-destination-wrapper .tft-destination-title {
    margin-bottom: 8px;
  }
  .tft-destination-wrapper .tft-destination-thumbnail {
    height: 275px;
    margin-bottom: 16px;
  }
  .tft-destination-wrapper .tft-destination-thumbnail img {
    height: 275px;
    object-fit: cover;
    width: 100%;
    border-radius: 10px;
  }
  .tft-destination-wrapper .tft-destination-thumbnail a {
    display: block;
  }