.tft-testimonials-selector .slick-prev,
.tft-testimonials-selector .slick-next {
  top: -50px;
}
.tft-testimonials-selector .slick-prev {
  left: 90%;
}
.tft-testimonials-selector .slick-next {
  right: 0px;
}
.tft-testimonials-selector .tft-testimonials-inner {
  background: #fff;
  box-shadow: 1px 10px 20px rgba(29, 42, 59, 0.05);
  padding: 28px;
  border-radius: 20px;
  transition: all 0.3s ease;
  border: 1px solid rgba(29, 42, 59, 0.1);
  cursor: pointer;
}
.tft-testimonials-selector .tft-testimonials-inner:hover {
  background-color: #1d2a3b;
  transition: all 0.3s ease;
}
.tft-testimonials-selector .tft-testimonials-inner:hover h4 {
  color: rgba(255, 255, 255, 0.8509803922);
  transition: all 0.3s ease;
}
.tft-testimonials-selector .tft-testimonials-inner:hover p {
  color: #fff;
  transition: all 0.3s ease;
}
.tft-testimonials-selector .slick-slide {
  margin: 0 10px !important;
}
.tft-testimonials-selector .slick-list {
  margin: 0 -10px !important;
}
.tft-testimonials-selector .slick-list {
  overflow: visible;
}
.tft-testimonials-selector .slick-track {
  padding: 40px 0px;
  overflow: hidden;
}
.tft-testimonials-selector .slick-list.draggable {
  overflow: hidden;
}
.tft-testimonials-selector .slick-track {
  padding: 40px 0px;
}
.tft-testimonials-selector .slick-list.draggable {
  overflow: hidden;
}
.tft-testimonials-selector .testimonial-header {
  display: flex;
  align-items: center;
  column-gap: 24px;
  padding-bottom: 32px;
}
.tft-testimonials-selector h4.person-name {
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 24px;
}
.tft-testimonials-selector .person-info p {
  margin: 0px;
}
.tft-testimonials-selector .person-avatar {
  max-width: 80px;
}
.tft-testimonials-selector .testimonial-body .tft-content {
  font-size: 18px;
  font-weight: 400;
}
.tft-testimonials-selector .testimonial-footer i {
  color: #f15d30;
}
.tft-testimonials-selector .slick-prev:before,
.tft-testimonials-selector .slick-next:before {
  display: none;
}
.person-avatar img {
  border-radius: 50px;
  height: 80px;
  width: 80px;
  object-fit: cover;
}
@media (max-width: 767px) {
  .tft-testimonials-selector .slick-prev,
  .tft-testimonials-selector .slick-next {
    top: -36px;
  }
  .tft-testimonials-selector .slick-prev {
    left: 75%;
  }
}
