.tft-popular-hotels-wrapper .tft-popular-hotels-items{
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 40px;
}
.tft-popular-hotels-wrapper .tft-popular-hotels-items .tft-popular-single-item .tft-popular-thumbnail{
    height: 550px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-left: 56px;
    padding-right: 56px;
}
.tft-popular-hotels-wrapper .tft-popular-hotels-items .tft-popular-single-item .tft-hotel-details{
    background-color: #FCF4E8;
    padding: 32px;
}
.tft-popular-hotels-wrapper .tft-popular-hotels-items .tft-popular-single-item .tft-hotel-details .tft-ratings span{
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%;
    color: #99948D;
}