// hero banner
.tft-hero-design-4 {
    background-position: center center;
    min-height: 800px;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 1;
    position: relative;
    @include d-flex();
    @include align-items(center);
    overflow: hidden;

    @media #{$max1366} {
        min-height: 700px;
    }

    @media #{$max1199} {
        min-height: 650px;
    }

    @media #{$max991} {
        min-height: 600px;
    }

    @media #{$max767} {
        min-height: 500px;
    }

    @media #{$max575} {
        min-height: 450px;
    }

    &::after {
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;
        background: $linear-gradient2;
        z-index: -1;
    }

    &__container {
        position: relative;
        width: 100%;
        max-width: 1678px;

        @media #{$max1199} {
            width: 100%;
        }
    }

    // slider
    &__slider {
        position: relative;
        top: 50%;

        @media #{$max575} {
            &.slick-dotted.slick-slider {
                margin-bottom: 90px;
            }
        }

        &__item {
            @include d-flex();
            @include align-items(center);
            @include justify-content(center);
            color: $color-white;

            @media #{$max767} {
                @include align-items(flex-start);
            }

            &__content {
                text-align: center;

                &--subtitle {
                    font-family: $font-caveat;
                    font-size: 2.25rem;
                    font-weight: 400;
                    line-height: 45.36px;
                    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
                    text-transform: capitalize;

                    @media #{$max1199} {
                        font-size: 2rem;
                        line-height: 40px;
                    }

                    @media #{$max991} {
                        font-size: 1.75rem;
                        line-height: 38px;
                    }

                    @media #{$max767} {
                        font-size: 1.125rem;
                        line-height: normal;
                    }
                }

                &--title {
                    font-family: $font-brygada;
                    font-size: 6.25rem;
                    font-weight: 500;
                    line-height: 117px;
                    margin: 14px 0 35px;
                    text-transform: capitalize;

                    @media #{$max1199} {
                        font-size: 5rem;
                        line-height: 90px;
                    }

                    @media #{$max991} {
                        font-size: 4.063rem;
                        line-height: 70px;
                    }

                    @media #{$max767} {
                        font-size: 3rem;
                        line-height: 58px;
                        margin-bottom: 20px;
                    }
                }

                &--link {
                    padding: 0 42px;
                    gap: 5px;

                    @media #{$max767} {
                        padding: 0 30px;
                    }

                    i {
                        line-height: 18px;
                    }
                }
            }
        }
    }

    &__social {
        position: absolute;
        left: 7px;
        top: 50%;
        transform: translateY(-50%);
        z-index: 99;
        @include d-flex();
        flex-direction: column;
        @include justify-content(center);
        @include align-items(center);
        color: $color-white;
        gap: 20px;

        @media #{$max1760} {
            left: 35px;
        }

        @media #{$max1199} {
            background: $secondary-color;
            left: -60px;
            gap: 10px;
            padding: 14px 8px;
            border-top-right-radius: 5px;
            border-bottom-right-radius: 5px;
        }

        // social list
        &__list {
            @include d-flex();
            gap: 20px;
            flex-direction: column;

            @media #{$max991} {
                gap: 10px;
            }

            &__item {
                &--link {
                    @include d-flex();
                    @include align-items(center);
                    @include justify-content(center);
                    @include box-circle();
                    width: 45px;
                    height: 45px;
                    line-height: 45px;
                    border: 1px solid $border-color;
                    @include transition(0.3s);

                    @media #{$max991} {
                        width: 30px;
                        height: 30px;
                        line-height: normal;
                    }

                    &:hover {
                        background: $primary-color;
                        border-color: $primary-color;
                    }

                    i {
                        font-size: 0.875rem;
                        color: $color-white;

                        @media #{$max991} {
                            font-size: 0.75rem;
                        }
                    }
                }
            }
        }

        // divider
        &__divider {
            width: 1px;
            height: 100px;
            background: $border-color;

            @media #{$max767} {
                height: 80px;
            }
        }

        &__label {
            text-transform: uppercase;
            font-family: $font-ubuntu;
            font-weight: 500;
            line-height: 18px;
            letter-spacing: 0.23em;
            writing-mode: tb-rl;
            transform: rotate(180deg);
            color: $color-white;
        }
    }

    // mobile share label
    &__mobile--share {
        display: none;
        width: 31px;
        position: absolute;
        left: 0px;
        top: 50%;
        transform: translateY(-50%);
        cursor: pointer;
        background-color: #101f36b3;
        padding: 10px 6px;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;

        @media #{$max1199} {
            display: block;
        }
    }

    //   slick dots
    .slick-dots {
        position: absolute;
        top: 50%;
        right: 3px;
        max-width: 1706px;
        margin: auto;
        @include d-flex();
        @include align-items(center);
        @include justify-content(center);
        gap: 20px;
        transform: translateY(-50%);
        z-index: 99;
        flex-direction: column;
        align-items: end;
        bottom: inherit;

        @media #{$max1760} {
            right: 0;
        }

        @media #{$max991} {
            right: 0;
            bottom: 0px;
            gap: 8px;
            transform: none;
            flex-direction: row;
            width: 100%;
            margin-bottom: -120px;
        }

        @media #{$max575} {
            right: 0;
            bottom: 10px;
            gap: 8px;
            transform: none;
            flex-direction: row;
            width: 100%;
            margin-bottom: -100px;
        }

        li {
            width: 30px;
            height: 30px;
            border: 2px solid transparent;
            background: transparent;
            @include d-flex();
            @include align-items(center);
            @include justify-content(center);
            cursor: pointer;

            @media #{$max767} {
                width: 25px;
                height: 25px;
            }

            &.slick-active {
                border-color: $color-white;
            }

            button {
                width: 10px;
                height: 10px;
                background: $color-white;
                border: 0;
                padding: 0;
                font-size: 0;
                cursor: pointer;
                @include bd-radius(0);

                @media #{$max767} {
                    width: 9px;
                    height: 9px;
                }

                &:before {
                    display: none;
                }
            }
        }
    }
}