@use '../abstracts/variable' as *;
@use '../abstracts/mixins' as *;

// section heading content
.tft-heading-content {
  h3 {
    font-size: 1rem;
    font-weight: 500;
    margin-bottom: 16px;
    text-transform: uppercase;

    @media #{$max767} {
      font-size: 0.938rem;
      margin-bottom: 8px;
    }
  }

  h2 {
    font-size: 3rem;
    line-height: 1.2;
    margin-bottom: 30px;
    text-transform: capitalize;

    @media (max-width: 1399px) {
      font-size: 2.5rem;
      line-height: 1.25;
    }

    @media #{$max1199} {
      font-size: 2.188rem;
      line-height: 1.3;
    }

    @media #{$max991} {
      font-size: 2rem;
      margin-bottom: 24px;
    }

    @media #{$max767} {
      font-size: 1.75rem;
      line-height: 1.4;
      margin-bottom: 20px;
    }

    &.tft-title-shape {
      max-width: 615px;
      position: relative;

      &::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 335px;
        height: 34px;
        background: rgba(255, 107, 0, 0.1);

        @media #{$max991} {
          height: 30px;
          width: 300px;
        }

        @media #{$max767} {
          width: 250px;
        }
      }
    }

    &.tft-no-backdrop {
      &::after {
        display: none;
      }
    }
  }

  p {
    margin-bottom: 40px;

    @media #{$max767} {
      margin-bottom: 24px;
    }
  }
}

// textarea 
textarea.tft-form-control {
  max-height: 130px;

  @media #{$max991} {
    max-height: 120px;
  }
}

// section wrapper
.tft-section-wrapper {
  .tft-section-title {
    h2 {
      position: relative;

      &::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 335px;
        height: 34px;
        background: rgba(255, 107, 0, 0.1);

        @media #{$max991} {
          height: 30px;
          width: 300px;
        }

        @media #{$max767} {
          width: 250px;
        }
      }
    }
  }
}

// wpcf7 form
.wpcf7-form {
  label {
    margin-bottom: 20px;
    display: block;
    font-weight: 500;

    @media #{$max991} {
      margin-bottom: 20px;
    }

    .tft-form-control {
      margin-top: 20px;

      @media #{$max991} {
        margin-top: 12px;
      }
    }
  }

  input[type="email"],
  input[type="text"],
  input[type="phone"],
  textarea {
    width: 100%;
    padding: 12px 10px;
  }

  textarea {
    height: 100px;
  }
}

