@use '../abstracts/variable' as *;
@use '../abstracts/mixins' as *;  

// section heading content
.tft-heading-content {
  h3 {
    font-size: 1rem;
    font-weight: 500;
    margin-bottom: 17px;
    text-transform: uppercase;

    @media #{$max767} {
      font-size: 0.938rem;
      margin-bottom: 8px;
    }
  }

  h2 {
    font-size: 3rem;
    line-height: 58px;
    margin-bottom: 30px;
    text-transform: capitalize;

    @media #{$max1399} {
      font-size: 2.5rem;
      line-height: 50px;
    }

    @media #{$max1199} {
      font-size: 2.188rem;
      line-height: 45px;
    }

    @media #{$max991} {
      font-size: 2rem;
      line-height: 42px;
      margin-bottom: 24px;
    }

    @media #{$max767} {
      font-size: 1.75rem;
      line-height: 40px;
      margin-bottom: 20px;
    }

    &.tft-title-shape {
      max-width: 613px;
      position: relative;

      &::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 335px;
        height: 34px;
        background: rgba(255, 107, 0, 0.1);

        @media #{$max991} {
          height: 30px;
          width: 300px;
        }

        @media #{$max767} {
          width: 250px;
        }
      }
    }

    &.tft-no-backdrop {
      &::after {
        display: none;
      }
    }
  }

  p {
    margin-bottom: 40px;

    @media #{$max767} {
      margin-bottom: 24px;
    }
  }
}

// textarea 
textarea.tft-form-control {
  max-height: 130px;

  @media #{$max991} {
    max-height: 120px;
  }
}

// label
label.tft-form-label {
  line-height: normal;
  margin-bottom: 25px;
  display: block;
  font-weight: 500;

  @media #{$max991} {
    margin-bottom: 20px;
  }

  .tft-form-control {
    margin-top: 20px;

    @media #{$max991} {
      margin-top: 12px;
    }
  }
}


// section wrapper
.tft-section-wrapper {
  .tft-section-title {
    h2 {
      position: relative;

      &::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 335px;
        height: 34px;
        background: rgba(255, 107, 0, 0.1);

        @media #{$max991} {
          height: 30px;
          width: 300px;
        }

        @media #{$max767} {
          width: 250px;
        }
      }
    }
  }
}