.tft-popular-hotels-wrapper {
    background-repeat: no-repeat;
    background-position: top right;

    .tft-popular-hotel-header {
        display: flex;
        justify-content: space-between;
        margin-bottom: 48px;

        .tft-hotel-header {
            width: 60%;
            @media #{$max991} {
                width: auto;
            }
            h6 {
                font-family: 'Josefin Sans' !important;
                font-size: 16px;
                font-style: normal;
                font-weight: 700;
                line-height: 130%;
                letter-spacing: 0.16px;
                text-transform: uppercase;
                color: #B58E53;
                @media #{$max767} {
                    font-size: 8px;
                }
            }

            h3 {
                font-size: 56px;
                font-style: normal;
                font-weight: 700;
                line-height: 120%;
                color: #595349;
                margin-bottom: 24px;
                @media #{$max1366} {
                    font-size: 32px;
                }
                @media #{$max767} {
                    font-size: 20px;
                }
            }

            ul {
                margin: 0;
                padding: 0;
                list-style: none;

                li {
                    padding: 12px 32px;
                    background-color: #99948D;
                    color: #FDF9F3;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: 150%;
                    margin-right: 30px;
                    display: inline-block;
                    cursor: pointer;
                    transition: .3s all ease;
                    @media #{$max991}{
                        padding: 8px 12px !important;
                        font-size: 12px !important;
                        margin-right: 15px !important;
                    }
                    &:hover {
                        background-color: #917242 !important;
                        color: #FDF9F3 !important;
                    }

                    &.active {
                        background-color: #B58E53;
                    }

                }
            }
        }

        .read-more {
            a {
                width: 156px;
                height: 156px;
                background-color: #B58E53;
                display: inline-block;
                border-radius: 50%;
                font-size: 16px;
                font-style: normal;
                font-weight: 700;
                color: #FDF9F3;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                transition: .3s all ease;
                @media #{$max1024} {
                    width: 96px;
                    height: 96px;
                    font-size: 12px;
                }
                &:hover {
                    background-color: #917242 !important;
                }

                svg{
                    @media #{$max1024} {
                        width: 32px;
                    }
                }
            }
        }
    }

    .tft-popular-hotels-items {
        display: grid;
        grid-template-columns: auto auto auto;
        gap: 40px;
        @media #{$max1024} {
            grid-template-columns: auto auto;
        }
        @media #{$max767} {
            grid-template-columns: auto;
        }
        .tft-popular-single-item {
            .tft-popular-single-item-inner {
                padding-bottom: 85px;
                position: relative;

                .tft-popular-thumbnail {
                    height: 550px;
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: cover;
                    padding-left: 56px;
                    padding-right: 56px;
                    display: block;
                    @media #{$max1650} {
                        padding-left: 24px;
                        padding-right: 24px;
                    }
                    @media #{$max991} {
                        height: 390px;
                    }
                }

                .tft-hotel-details {
                    background-color: #FCF4E8;
                    padding: 32px;
                    position: absolute;
                    left: 56px;
                    right: 56px;
                    bottom: 0;
                    overflow: hidden;
                    @media #{$max1650} {
                        left: 24px;
                        right: 24px;
                    }
                    .tft-ratings {
                        span {
                            font-size: 16px;
                            font-style: normal;
                            font-weight: 400;
                            line-height: 130%;
                            color: #99948D;

                            i {
                                color: #FFC700;
                            }
                        }
                    }

                    h3 {
                        font-size: 32px;
                        font-style: normal;
                        font-weight: 700;
                        line-height: 120%;
                        color: #595349;
                        margin-bottom: 16px;
                        @media #{$max1366} {
                            font-size: 32px;
                        }
                        a {
                            color: inherit;
                        }
                    }

                    .tft-locations {
                        display: flex;
                        margin: 0;

                        svg {
                            margin-right: 8px;
                        }

                        span {
                            font-size: 16px;
                            font-weight: 400;
                            line-height: 130%;
                            color: #595349;
                        }
                    }

                    .tour-time {
                        display: flex;
                        margin: 0;
                        font-size: 16px;
                        font-weight: 400;
                        line-height: 130%;
                        color: #595349;

                        svg {
                            margin-right: 8px;
                        }

                        span {
                            margin-left: 3px;
                        }
                    }

                    .tf-others-details {
                        max-height: 0;
                        overflow: hidden;
                        padding-top: 0px;
                        transition: max-height 0.6s ease;

                        a {
                            @media #{$max991} {
                                font-size: 12px !important;
                            }
                            &.btn-view-details {
                                display: block;
                                padding: 12px 32px;
                                background-color: #B58E53;
                                color: #FDF9F3;
                                font-size: 16px;
                                font-style: normal;
                                font-weight: 700;
                                line-height: 150%;
                                text-align: center;
                                margin-top: 16px;
                                transition: .3s all ease;
                                &:hover {
                                    background: #917242 !important;
                                }                                
                            }

                        }
                        ul {
                            display: grid;
                            grid-template-columns: auto auto;
                            margin: 0;
                            padding: 0;
                            list-style: none;
                            gap: 12px;
                            padding-top: 16px;
                            li {
                                font-size: 16px;
                                font-style: normal;
                                font-weight: 400;
                                line-height: 130%;
                                color: #99948D;
                                display: flex;
                                @media #{$max991} {
                                    font-size: 14px !important;
                                }
                                img {
                                    width: 20px;
                                    margin-right: 8px;
                                }   
                                i {
                                    margin-right: 8px;
                                }                             
                            }
                        }
                    }
                }
            }

            &:hover{
                .tft-hotel-details{
                    .tf-others-details{
                        max-height: 200px;
                    }
                }
            }
        }
    }
}
