@use '../abstracts/variable' as *;
@use '../abstracts/mixins' as *;

// tft travelling service
.tft-travelling-service {
  .tft-section-title {
    h2 {
      position: relative;

      &::after {
        left: 0%;
        transform: translateX(0%);
        bottom: -5px;
      }
    }
  }

  .tft-service-list {
    .elementor-image-box-wrapper {
      @media #{$max767} {
        @include d-flex();
        flex-wrap: nowrap;
        gap: 20px;
        @include align-items(center);
      }
    }
  }
}

// tft gallery wrapper
.tft-gallery-wrapper {
  .tft-gallery-grid {
    padding: 0 !important;

    .tft-gallery-item {
      .tft-gallery-popup-btn {
        visibility: hidden;
        @include transition(0);

        .elementor-icon-wrapper {
          width: 100px;
          height: 100px;
          margin: auto;
          cursor: pointer;

          @media #{$max991} {
            width: 80px;
            height: 80px;
          }

          @media #{$max767} {
            width: 60px;
            height: 60px;
          }
        }
      }

      &:hover {
        .tft-gallery-popup-btn {
          visibility: visible;
        }
      }
    }
  }
}

.tft-hero-slider-nav {
  @media (max-width: 1399px) {
    margin-top: 0;
    position: absolute;
    left: 50%;
    bottom: -100px;
    transform: translateX(-50%);
    @include d-flex();
    gap: 15px;
  }

  @media (max-width: 480px) {
    bottom: -80px;
  }

  button {
    background: transparent;
    width: 60px;
    height: 60px;
    border-color: $tft-color-white;

    @media (max-width: 1399px) {
      width: 50px;
      height: 50px;
      position: relative;
      transform: initial;
      top: 0;
    }

    @media #{$max991} {
      width: 45px;
      height: 45px;

    }

    @media #{$max767} {
      width: 40px;
      height: 40px;

    }

    i {
      color: $tft-color-white;
      font-size: 1.25rem;
    }

    &:hover {
      background: $tft-color-primary;
      color: $tft-color-white;
      border-color: $tft-color-primary;
    }

    &.tft-prev-slide {
      left: 80px;

      @media (max-width: 1760px) {
        left: 100px;
      }

      @media (max-width: 1399px) {
        left: 0;
      }
    }

    &.tft-next-slide {
      right: 80px;

      @media (max-width: 1760px) {
        right: 100px;
      }

      @media (max-width: 1399px) {
        right: 0;
      }

    }
  }
}

.tft-team-slider-nav {
  margin-top: 0;
}

.tf-available-brand img.swiper-slide-image{
  filter: grayscale(100%); 
  transition: filter 0.5s ease;
}
.tf-available-brand img.swiper-slide-image:hover {
  filter: grayscale(0%);
}