@use '../abstracts/variable' as *;
@use '../abstracts/mixins' as *;

// latest news design 1
.tft-latest-posts-design {
    &__one {
        .tft-latest-post-items {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: repeat(2, 1fr);
            gap: 20px;

            @media #{$max767} {
                display: block;
            }

            .tft-post-single-item {
                @media #{$max767} {
                    margin: 20px 0px;
                }

                &:nth-child(1) {
                    grid-column-start: 1;
                    grid-column-end: 2;
                    grid-row-start: 1;
                    grid-row-end: 3;
                }

                &:nth-child(2),
                &:nth-child(3) {
                    height: 260px;

                    @media #{$max767} {
                        height: 362px;
                    }

                    .tft-post-thumbnail {
                        a {
                            height: 260px;

                            @media #{$max767} {
                                height: 362px;
                            }

                            img {
                                height: 260px;

                                @media #{$max767} {
                                    height: 362px;
                                }
                            }
                        }
                    }
                }

                &:nth-child(4) {
                    grid-column-start: 3;
                    grid-column-end: 4;
                    grid-row-start: 1;
                    grid-row-end: 3;
                }

                .tft-post-thumbnail {
                    position: relative;

                    a {
                        display: block;
                        margin: 0px;
                        position: relative;
                        height: 540px;

                        @media #{$max767} {
                            height: 362px;
                        }

                        &:before {
                            content: "";
                            position: absolute;
                            height: 100%;
                            width: 100%;
                            left: 0;
                            border-radius: 10px;
                        }

                        img {
                            width: 100%;
                            object-fit: cover;
                            height: 540px;

                            @media #{$max767} {
                                height: 362px;
                            }
                        }

                        .tft-post-content-wrap {
                            position: absolute;
                            bottom: 20px;
                            z-index: 999;
                            padding: 0px 30px;

                            @media #{$max767} {
                                padding: 20px 20px;
                                bottom: 0;
                            }

                            .tft-meta-wrap {
                                .tft-meta {
                                    margin-bottom: 10px;
                                    color: $tft-color-white;
                                    p {
                                        color:$tft-color-white;
                                    }
                                }
                            }

                            .tft-title {
                                color:$tft-color-white;
                                font-size: 1.25rem;
                                font-weight: 700;
                            }
                        }
                    }
                }
            }
        }
    }

    &__two {
        background: $tft-color-light-white;

        .tft-blog-header {
            display: flex;
            justify-content: space-between;
            margin-bottom: 48px;

            .tft-news-header {
                width: 60%;

                @media #{$max991} {
                    width: auto;
                }

                h3 {
                    font-size: 1rem;
                    font-weight: 700;
                    line-height: 1.3;
                    letter-spacing: 0.16px;
                    text-transform: uppercase;
                    color: $tft-color-primary;
                    margin-bottom: 8px;
                }

                h2 {
                    font-size: 3.5rem;
                    font-weight: 700;
                    line-height: 1.2;
                    color: $tft-color-heading;
                    margin: 0;

                    @media #{$max1480} {
                        font-size: 2rem;
                    }
                }
            }

            .read-more {
                a {
                    background-color: $tft-color-primary;
                    font-weight: 700;
                    color: $tft-color-white;

                    @media #{$max991} {
                        width: 96px;
                        height: 96px;
                    }

                    &:hover {
                        background-color: $tft-color-secondary;
                    }

                    svg {
                        @media #{$max991} {
                            width: 32px;
                        }
                    }
                }
            }
        }

        .tft-blog-gird-section {
            .tft-post-single-item {
                background-color: $tft-color-white;
                height: 220px;

                @media #{$max991} {
                    height: auto;
                    margin: 0 !important;
                }

                a {
                    display: flex;
                    height: 100%;

                    .tft-blog-thumbnail {
                        width: 50%;

                        img {
                            height: 220px;
                            object-fit: cover;
                            width: 100%;
                        }
                    }

                    .tft-content-details {
                        padding: 32px;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;

                        @media #{$max991} {
                            height: auto !important;
                        }

                        p {
                            &.tft-meta {
                                font-size: 0.875rem;
                                font-weight: 700;
                                line-height: 1.3;
                                letter-spacing: 0.16px;
                                text-transform: uppercase;
                                color: $tft-color-text;
                                margin: 0px;

                                @media #{$max1480} {
                                    font-size: 0.75rem;
                                }
                            }

                            &.content {
                                font-size: 1.25rem;
                                font-weight: 400;
                                line-height: 1.3;
                                color: $tft-color-text;
                                margin: 0px;

                                @media #{$max1480} {
                                    font-size: 0.875rem;
                                }

                                @media #{$max991} {
                                    display: block !important;
                                }

                                span {
                                    font-size: 1.125rem;
                                    font-weight: 400;
                                    line-height: 1.3;
                                    color: inherit;
                                }
                            }
                        }

                        h3 {
                            font-size: 2.5rem;
                            font-weight: 700;
                            line-height: 1.3;
                            color: $tft-color-heading;
                            margin: 8px 0px 24px 0px;

                            @media #{$max1480} {
                                font-size: 1.25rem;
                            }
                        }
                    }
                }
            }

            &.blog-grid-item {

                &-2,
                &-3,
                &-4,
                &-5,
                &-6 {
                    display: grid;
                    grid-template-columns: 2fr 1fr;
                    gap: 40px;

                    @media #{$max991} {
                        grid-template-columns: 1fr 1fr;
                    }

                    @media #{$max767} {
                        grid-template-columns: 1fr;
                    }
                }

                &-4 {
                    grid-template-columns: 1fr 1fr;

                    @media #{$max767} {
                        grid-template-columns: 1fr;
                    }
                }

                &-5,
                &-6 {
                    grid-template-columns: 1fr 1fr 1fr;

                    @media #{$max991} {
                        grid-template-columns: 1fr 1fr;
                    }

                    @media #{$max767} {
                        grid-template-columns: 1fr;
                    }
                }
            }
        }
    }

    &__three {
        .container {
            .tft-heading-content {
                text-align: center;
                margin-bottom: 70px;

                @media #{$max1199} {
                    margin-bottom: 60px;
                }

                @media #{$max991} {
                    margin-bottom: 50px;
                }

                @media #{$max767} {
                    margin-bottom: 20px;
                }

                h3{
                    color: $tft-color-primary;
                }

                h2 {
                    margin-left: auto;
                    margin-right: auto;
                    color: $tft-color-heading;
                    &::after {
                        left: 50%;
                        transform: translateX(-50%);
                    }
                }
            }

            .tft-blog-gird-section {
                display: grid;
                grid-template-columns: 40.5%;
                grid-template-rows: auto;
                gap: 24px;

                @media #{$max1199} {
                    grid-template-columns: 50%;
                    grid-template-columns: auto auto;
                }

                @media #{$max767} {
                    grid: inherit;
                    grid-template-columns: 100%;
                }

                .tft-post-single-item {
                    padding: 30px;
                    @include bd-radius(15px);
                    border-radius: 15px;
                    box-shadow: 0px 5px 35px 0px rgba(157, 143, 132, 0.15);
                    display: flex;
                    flex-direction: column;
                    gap: 30px;

                    @media #{$max1199} {
                        gap: 20px;
                        padding: 20px;
                    }

                    @media #{$max767} {
                        padding: 16px;
                    }

                    .tft-blog-thumbnail {
                        line-height: 0;

                        img {
                            @include bd-radius(15px);
                            width: 100%;
                            max-height: 400px;
                            min-height: 400px;
                            object-fit: cover;

                            @media #{$max1199} {
                                max-height: 270px;
                                min-height: 270px;
                            }

                            @media #{$max991} {
                                max-height: 250px;
                                min-height: 250px;
                            }

                            @media #{$max767} {
                                max-height: 200px;
                                min-height: 200px;
                            }

                            @media #{$max575} {
                                max-height: inherit;
                                min-height: inherit;
                            }
                        }
                    }

                    .tft-content-details {
                        flex: 1;

                        .tft-title {
                            color: $tft-color-heading;
                            font-size: 1.5rem;
                            line-height: 1.4;
                            margin: 25px 0 30px;
                            overflow: hidden;
                            display: -webkit-box;
                            -webkit-line-clamp: 2;
                            -webkit-box-orient: vertical;

                            @media #{$max1199} {
                                margin: 24px 0;
                            }

                            @media #{$max991} {
                                margin: 20px 0;
                            }

                            a {
                                display: contents;
                                color: inherit;
                                @include transition(0.1s);

                                &:hover,
                                &:focus,
                                :visited {
                                    color: $tft-color-primary;
                                }
                            }

                            @media #{$max991} {
                                font-size: 1.375rem;
                            }

                            @media #{$max767} {
                                font-size: 1.25rem;
                            }
                        }

                        .tft-read-more {
                            a {
                                display: inline-flex;
                                color: $tft-color-primary;
                                background: rgba(250, 100, 0, 0.09);
                                min-height: 50px;
                                min-width: 170px;

                                @media #{$max767} {
                                    min-width: 160px;
                                    min-height: 45px;
                                }

                                &:hover {
                                    background: $tft-color-secondary;
                                    color: $tft-color-white;
                                }
                            }
                        }

                        .tft-post-meta {
                            @include d-flex();
                            gap: 30px;

                            @media #{$max1199} {
                                gap: 20px;
                            }

                            @media #{$max767} {
                                gap: 20px;
                            }

                            .tft-meta {
                                @include d-flex();
                                @include align-items(center);
                                gap: 10px;
                                margin-bottom: 0;
                                color: $tft-color-text;

                                @media #{$max991} {
                                    gap: 8px;
                                    font-size: 0.938rem;
                                }
                            }
                        }
                    }
                }

                .tft-col-item {
                    @include d-flex();
                    @include align-items(center);
                    flex-direction: row;
                    gap: 35px;

                    @media #{$max1024} {
                        gap: 20px;
                    }
           
                    .tft-blog-thumbnail {
                        max-width: 240px;
                        min-width: 240px;
                        height: 100%;

                        @media #{$max991} {
                            max-width: inherit;
                            min-width: inherit;
                            width: 100%;
                        }

                        img {
                            min-height: auto;
                            max-height: inherit;
                            height: 100%;
                          
                            @media #{$max991} {
                                min-height: 250px;
                                max-height: 250px;
                                height: auto;
                            }

                            @media #{$max767} {
                                min-height: inherit;
                                max-height: inherit;
                            }

                            @media #{$max480} {
                                min-height: 250px;
                                max-height: 250px;
                            }
                        }
                    }

                    &:nth-child(1),
                    &:nth-child(4),
                    &:nth-child(7) {
                        grid-column: span 1;
                        grid-row: span 2;
                        flex-direction: column;
                        gap: 30px;
                        margin-top: 0;
                        @include align-items(flex-start);
                        @media #{$max991} {
                            gap: 20px;
                        }

                        .tft-content-details {
                            .tft-title {
                                font-size: 1.875rem;
                                line-height: 1.3;

                                @media #{$max991} {
                                    font-size: 1.375rem;
                                }

                                @media #{$max767} {
                                    font-size: 1.25rem
                                }
                            }
                        }

                        .tft-blog-thumbnail {
                            max-width: 100%;
                            min-width: 100%;
                            height: auto;
                        }
                    }

                    &:nth-child(2) {
                        grid-column: 2;
                        grid-row: 1;

                        @media #{$max991} {
                            grid-column: auto;
                            grid-row: auto;
                        }
                    }

                    &:nth-child(3) {
                        grid-column: 2;
                        grid-row: 2;

                        @media #{$max991} {
                            grid-column: 1;
                            grid-row: auto;
                        }

                        @media #{$max767} {
                            grid-column: auto;
                        }
                    }
                }
            }
        }
    }
}

#items-count {
    &-2 {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(1, 1fr);
        gap: 20px;

        @media #{$max767} {
            grid-template-columns: repeat(1, 1fr);
        }

        .tft-post-single-item {
            &:nth-child(2) {
                height: auto;

                .tft-post-thumbnail {
                    a {
                        height: 540px;

                        img {
                            height: 540px;
                        }
                    }
                }
            }
        }
    }

    &-3 {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(1, 1fr);
        gap: 20px;

        @media #{$max767} {
            grid-template-columns: repeat(1, 1fr);
        }
    }
}

.blog-grid-item-2 .tft-post-single-item.tft-col-item:nth-child(2) a,
.blog-grid-item-3 .tft-post-single-item.tft-col-item:nth-child(2) a,
.blog-grid-item-4 .tft-post-single-item.tft-col-item:nth-child(2) a,
.blog-grid-item-4 .tft-post-single-item.tft-col-item:nth-child(3) a,
.blog-grid-item-5 .tft-post-single-item.tft-col-item:nth-child(2) a,
.blog-grid-item-5 .tft-post-single-item.tft-col-item:nth-child(4) a,
.blog-grid-item-6 .tft-post-single-item.tft-col-item:nth-child(2) a,
.blog-grid-item-6 .tft-post-single-item.tft-col-item:nth-child(4) a,
.blog-grid-item-6 .tft-post-single-item.tft-col-item:nth-child(6) a {
    display: flow-root;
    position: relative;
}

.blog-grid-item-2 .tft-post-single-item.tft-col-item:nth-child(2) a .tft-blog-thumbnail,
.blog-grid-item-3 .tft-post-single-item.tft-col-item:nth-child(2) a .tft-blog-thumbnail,
.blog-grid-item-4 .tft-post-single-item.tft-col-item:nth-child(2) a .tft-blog-thumbnail,
.blog-grid-item-4 .tft-post-single-item.tft-col-item:nth-child(3) a .tft-blog-thumbnail,
.blog-grid-item-5 .tft-post-single-item.tft-col-item:nth-child(2) a .tft-blog-thumbnail,
.blog-grid-item-5 .tft-post-single-item.tft-col-item:nth-child(4) a .tft-blog-thumbnail,
.blog-grid-item-6 .tft-post-single-item.tft-col-item:nth-child(2) a .tft-blog-thumbnail,
.blog-grid-item-6 .tft-post-single-item.tft-col-item:nth-child(4) a .tft-blog-thumbnail,
.blog-grid-item-6 .tft-post-single-item.tft-col-item:nth-child(6) a .tft-blog-thumbnail {
    width: 100%;
}

.blog-grid-item-2 .tft-post-single-item.tft-col-item:nth-child(2) a .tft-content-details,
.blog-grid-item-3 .tft-post-single-item.tft-col-item:nth-child(2) a .tft-content-details,
.blog-grid-item-4 .tft-post-single-item.tft-col-item:nth-child(2) a .tft-content-details,
.blog-grid-item-4 .tft-post-single-item.tft-col-item:nth-child(3) a .tft-content-details,
.blog-grid-item-5 .tft-post-single-item.tft-col-item:nth-child(2) a .tft-content-details,
.blog-grid-item-5 .tft-post-single-item.tft-col-item:nth-child(4) a .tft-content-details,
.blog-grid-item-6 .tft-post-single-item.tft-col-item:nth-child(2) a .tft-content-details,
.blog-grid-item-6 .tft-post-single-item.tft-col-item:nth-child(4) a .tft-content-details,
.blog-grid-item-6 .tft-post-single-item.tft-col-item:nth-child(6) a .tft-content-details {
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    background: $tft-color-primary;
    opacity: 0.9;
    justify-content: end;
}

.blog-grid-item-2 .tft-post-single-item.tft-col-item:nth-child(2) a .tft-content-details h3,
.blog-grid-item-3 .tft-post-single-item.tft-col-item:nth-child(2) a .tft-content-details h3,
.blog-grid-item-4 .tft-post-single-item.tft-col-item:nth-child(2) a .tft-content-details h3,
.blog-grid-item-4 .tft-post-single-item.tft-col-item:nth-child(3) a .tft-content-details h3,
.blog-grid-item-5 .tft-post-single-item.tft-col-item:nth-child(2) a .tft-content-details h3,
.blog-grid-item-5 .tft-post-single-item.tft-col-item:nth-child(4) a .tft-content-details h3,
.blog-grid-item-6 .tft-post-single-item.tft-col-item:nth-child(2) a .tft-content-details h3,
.blog-grid-item-6 .tft-post-single-item.tft-col-item:nth-child(4) a .tft-content-details h3,
.blog-grid-item-6 .tft-post-single-item.tft-col-item:nth-child(6) a .tft-content-details h3 {
    margin-bottom: 0px;
}

.blog-grid-item-2 .tft-post-single-item.tft-col-item:nth-child(2) a .tft-content-details p.content,
.blog-grid-item-3 .tft-post-single-item.tft-col-item:nth-child(2) a .tft-content-details p.content,
.blog-grid-item-4 .tft-post-single-item.tft-col-item:nth-child(2) a .tft-content-details p.content,
.blog-grid-item-4 .tft-post-single-item.tft-col-item:nth-child(3) a .tft-content-details p.content,
.blog-grid-item-5 .tft-post-single-item.tft-col-item:nth-child(2) a .tft-content-details p.content,
.blog-grid-item-5 .tft-post-single-item.tft-col-item:nth-child(4) a .tft-content-details p.content,
.blog-grid-item-6 .tft-post-single-item.tft-col-item:nth-child(2) a .tft-content-details p.content,
.blog-grid-item-6 .tft-post-single-item.tft-col-item:nth-child(4) a .tft-content-details p.content,
.blog-grid-item-6 .tft-post-single-item.tft-col-item:nth-child(6) a .tft-content-details p.content {
    display: none;
}


.blog-grid-item-3 .tft-post-single-item.tft-col-item:nth-child(3) {
    grid-column: span 2;
}

.blog-grid-item-4 .tft-post-single-item.tft-col-item:nth-child(1),
.blog-grid-item-4 .tft-post-single-item.tft-col-item:nth-child(4) {
    height: auto;
}

.blog-grid-item-4 .tft-post-single-item.tft-col-item:nth-child(4) {
    margin-top: -180px;
}

.blog-grid-item-4 .tft-post-single-item.tft-col-item:nth-child(1) a,
.blog-grid-item-4 .tft-post-single-item.tft-col-item:nth-child(4) a {
    display: flow-root;
}

.blog-grid-item-4 .tft-post-single-item.tft-col-item:nth-child(1) a .tft-blog-thumbnail,
.blog-grid-item-4 .tft-post-single-item.tft-col-item:nth-child(4) a .tft-blog-thumbnail {
    width: 100%;
}

.blog-grid-item-5 .tft-post-single-item.tft-col-item:nth-child(1),
.blog-grid-item-5 .tft-post-single-item.tft-col-item:nth-child(3),
.blog-grid-item-5 .tft-post-single-item.tft-col-item:nth-child(5),
.blog-grid-item-6 .tft-post-single-item.tft-col-item:nth-child(1),
.blog-grid-item-6 .tft-post-single-item.tft-col-item:nth-child(3),
.blog-grid-item-6 .tft-post-single-item.tft-col-item:nth-child(5) {
    height: auto;
}

.blog-grid-item-5 .tft-post-single-item.tft-col-item:nth-child(1) .tft-blog-thumbnail img,
.blog-grid-item-5 .tft-post-single-item.tft-col-item:nth-child(3) .tft-blog-thumbnail img,
.blog-grid-item-5 .tft-post-single-item.tft-col-item:nth-child(5) .tft-blog-thumbnail img,
.blog-grid-item-6 .tft-post-single-item.tft-col-item:nth-child(1) .tft-blog-thumbnail img,
.blog-grid-item-6 .tft-post-single-item.tft-col-item:nth-child(3) .tft-blog-thumbnail img,
.blog-grid-item-6 .tft-post-single-item.tft-col-item:nth-child(5) .tft-blog-thumbnail img {
    height: 300px;
}

.blog-grid-item-5 .tft-post-single-item.tft-col-item:nth-child(5),
.blog-grid-item-6 .tft-post-single-item.tft-col-item:nth-child(5) {
    margin-top: -263px;
}

.blog-grid-item-5 .tft-post-single-item.tft-col-item:nth-child(1) a,
.blog-grid-item-5 .tft-post-single-item.tft-col-item:nth-child(3) a,
.blog-grid-item-5 .tft-post-single-item.tft-col-item:nth-child(5) a,
.blog-grid-item-6 .tft-post-single-item.tft-col-item:nth-child(1) a,
.blog-grid-item-6 .tft-post-single-item.tft-col-item:nth-child(3) a,
.blog-grid-item-6 .tft-post-single-item.tft-col-item:nth-child(5) a {
    display: flow-root;
}

.blog-grid-item-5 .tft-post-single-item.tft-col-item:nth-child(1) a .tft-blog-thumbnail,
.blog-grid-item-5 .tft-post-single-item.tft-col-item:nth-child(3) a .tft-blog-thumbnail,
.blog-grid-item-5 .tft-post-single-item.tft-col-item:nth-child(5) a .tft-blog-thumbnail,
.blog-grid-item-6 .tft-post-single-item.tft-col-item:nth-child(1) a .tft-blog-thumbnail,
.blog-grid-item-6 .tft-post-single-item.tft-col-item:nth-child(3) a .tft-blog-thumbnail,
.blog-grid-item-6 .tft-post-single-item.tft-col-item:nth-child(5) a .tft-blog-thumbnail {
    width: 100%;
}


@media all and (max-width: 991px) {

    .blog-grid-item-2 .tft-post-single-item.tft-col-item:nth-child(2) a,
    .blog-grid-item-3 .tft-post-single-item.tft-col-item:nth-child(2) a,
    .blog-grid-item-4 .tft-post-single-item.tft-col-item:nth-child(2) a,
    .blog-grid-item-4 .tft-post-single-item.tft-col-item:nth-child(3) a,
    .blog-grid-item-5 .tft-post-single-item.tft-col-item:nth-child(2) a,
    .blog-grid-item-5 .tft-post-single-item.tft-col-item:nth-child(4) a,
    .blog-grid-item-6 .tft-post-single-item.tft-col-item:nth-child(2) a,
    .blog-grid-item-6 .tft-post-single-item.tft-col-item:nth-child(4) a,
    .blog-grid-item-6 .tft-post-single-item.tft-col-item:nth-child(6) a {
        position: static;
    }

    .blog-grid-item-2 .tft-post-single-item.tft-col-item:nth-child(2) a .tft-content-details,
    .blog-grid-item-3 .tft-post-single-item.tft-col-item:nth-child(2) a .tft-content-details,
    .blog-grid-item-4 .tft-post-single-item.tft-col-item:nth-child(2) a .tft-content-details,
    .blog-grid-item-4 .tft-post-single-item.tft-col-item:nth-child(3) a .tft-content-details,
    .blog-grid-item-5 .tft-post-single-item.tft-col-item:nth-child(2) a .tft-content-details,
    .blog-grid-item-5 .tft-post-single-item.tft-col-item:nth-child(4) a .tft-content-details,
    .blog-grid-item-6 .tft-post-single-item.tft-col-item:nth-child(2) a .tft-content-details,
    .blog-grid-item-6 .tft-post-single-item.tft-col-item:nth-child(4) a .tft-content-details,
    .blog-grid-item-6 .tft-post-single-item.tft-col-item:nth-child(6) a .tft-content-details {
        position: static;
        background-color: transparent;
    }
}