// icon with text design 2
.tft-icon-design-2 {
    background-position: bottom;

    @media #{$max1399} {
        background-position: left;
    }

    @media #{$max991} {
        background-position: bottom;
    }

    .container {
        max-width: 1129px;

        .tft-heading-content {
            text-align: center;
            margin-bottom: 70px;

            @media #{$max1199} {
                margin-bottom: 60px;
            }

            @media #{$max991} {
                margin-bottom: 50px;
            }

            @media #{$max767} {
                margin-bottom: 40px;
            }

            h2 {
                margin-left: auto;
                margin-right: auto;

                &::after {
                    width: 195px;
                    height: 34px;
                    top: 30px;
                    left: 50%;
                    transform: translateX(-50%);

                    @media #{$max1399} {
                        top: 15px;
                    }

                    @media #{$max1199} {
                        width: 160px;
                        height: 30px;
                        top: 13px;
                    }
                }
            }
        }

        .tft-icon-text-items {
            @include d-flex();
            @include align-items(center);
            @include justify-content(space-between);

            @media #{$max1199} {
                gap: 30px;
                padding-bottom: 80px;
            }

            @media #{$max991} {
                padding-bottom: 120px;
            }

            .tft-icon-text-single {
                max-width: 299px;

                @media #{$max991} {
                    width: calc(50% - 15px);
                    max-width: 100%;
                }

                @media #{$max767} {
                    max-width: 100%;
                    width: 100%;
                }

                .icon_outter {
                    width: 160px;
                    height: 160px;
                    border: 2px dashed transparent;
                    margin: auto;
                    @include box-circle();
                    @include d-flex();
                    @include align-items(center);
                    @include justify-content(center);
                    @include transition(0.3s);

                    @media #{$max1199} {
                        width: 140px;
                        height: 140px;
                    }

                    @media #{$max991} {
                        width: 120px;
                        height: 120px;
                    }

                    .img-box {
                        width: 120px;
                        height: 120px;
                        margin: auto;
                        background-color: $color-white;
                        @include box-circle();
                        box-shadow: drop-shadow(0px 5px 35px #f9eee5);
                        @include d-flex();
                        @include align-items(center);
                        @include justify-content(center);

                        @media #{$max1199} {
                            width: 105px;
                            height: 105px;
                        }

                        @media #{$max991} {
                            width: 95px;
                            height: 95px;
                        }
                    }
                }

                .tft-title {
                    margin-top: 20px;
                    margin-bottom: 20px;
                    font-family: $font-brygada;
                    font-size: 1.5rem;
                    line-height: normal;

                    @media #{$max991} {
                        font-size: 1.375rem;
                        margin-top: 18px;
                        margin-bottom: 18px;
                    }

                    @media #{$max767} {
                        font-size: 1.25rem;
                        margin-top: 15px;
                        margin-bottom: 15px;
                    }
                }

                .tft-details {
                    margin-bottom: 0;

                    @media #{$max767} {
                        max-width: 340px;
                        margin: auto;
                    }
                }

                &:hover {
                    .icon_outter {
                        border: 2px dashed $primary-color;
                    }
                }
            }
        }
    }
}