$tft_primary_color : #B58E53;
$tft_secondary_color : #595349;
$tft_white : #FDF9F3;
$tft_grey : #595349;

$tft_min992: "only screen and (min-width: 992px)";
$tft_min576: "only screen and (min-width: 576px)";

$tft_max1650: "only screen and (max-width: 1650px)";
$tft_max1366: "only screen and (max-width: 1366px)";
$tft_max1200: "only screen and (max-width: 1280px)";
$tft_max1199: "only screen and (max-width: 1199.98px)";
$tft_max991: "only screen and (max-width: 991.98px)";
$tft_max767: "only screen and (max-width: 767.98px)";
$tft_max640: "only screen and (max-width: 640px)";
$tft_max575: "only screen and (max-width: 575.98px)";
$tft_max480: "only screen and (max-width: 480px)";
$tft_max375: "only screen and (max-width: 375px)";
$tft_max320: "only screen and (max-width: 320px)";