// Abstract Styles

@use "./abstracts/mixins";
@use "./abstracts/variable";

//Base Styles
@use "./base/reset";

//Component
@use "./component/button";
@use "./component/common";
@use "./component/loader";


//Layout
@use "./layout/footer";
@use "./layout/header";

//Pages Styles
@use "./pages/home";
@use "./pages/about";
@use "./pages/contact";



/** 
*
* Widget Parts Start 
*
**/

// hero slider
@use './widget-parts/slider-hero';

// about us
@use './widget-parts/about-us';

// car brand
@use './widget-parts/car-brand';

// car
@use './widget-parts/car';

// cf7 form
@use './widget-parts/cf7-form';

// hotels
@use './widget-parts/hotels';

// rooms
@use './widget-parts/rooms';

// icon with text
@use './widget-parts/icon-with-text';

// latest news
@use './widget-parts/latest-news';

// popular tours
@use './widget-parts/popular-tours';

// team
@use './widget-parts/team';

// testimonials
@use './widget-parts/testimonials';

// gallery
@use './widget-parts/gallery';

// service
@use './widget-parts/services';

// Tour Destination
@use './widget-parts/tour-destination';


// Section Heading
@use './widget-parts/section-heading';
