// about us design 2
.tft-about-design-2 {
    padding-bottom: 104px;
    position: relative;
    overflow-x: hidden;

    @media #{$max1399} {
        padding-bottom: 100px;
        padding-left: 15px;
        padding-right: 15px;
    }

    @media #{$max1199} {
        padding-bottom: 80px;
    }

    @media #{$max991} {
        padding-bottom: 60px;
    }

    @media #{$max767} {
        padding-bottom: 0px;
    }

    .tft-about-us-grid {
        @include d-flex();
        @include justify-content(center);
        gap: 59px;

        @media #{$max991} {
            flex-direction: column-reverse;
            gap: 40px;
            max-width: 600px;
            margin: auto;
        }

        .tft-about-image {
            min-width: 491px;
            position: relative;

            @media #{$max767} {
                min-width: auto;
            }

            &::before {
                content: "";
                position: absolute;
                left: 40px;
                top: 40px;
                width: 10px;
                height: 150px;
                background-color: $primary-color;
                z-index: 1;

                @media #{$max767} {
                    display: none;
                }
            }

            &::after {
                content: "";
                position: absolute;
                left: 61px;
                top: 106px;
                width: 10px;
                height: 246px;
                background-color: $color-white;

                @media #{$max767} {
                    display: none;
                }
            }



            .tft-about-curbe-image {
                max-width: 441px;
                position: relative;

                @media #{$max767} {
                    margin: auto;
                    max-width: 500px;
                }

                img {
                    width: 100%;
                    border-bottom-left-radius: 1000px;
                    border-bottom-right-radius: 1000px;

                    @media #{$max767} {
                        @include bd-radius(20px);
                    }
                }

                &::after {
                    content: "";
                    position: absolute;
                    left: 50px;
                    top: 50px;
                    width: 100%;
                    height: 100%;
                    border-radius: 0px 0px 1000px 1000px;
                    border: 1px solid rgba(0, 0, 0, 0.05);

                    @media #{$max767} {
                        display: none;
                    }
                }
            }

            .tft-about-circle-image {
                position: absolute;
                right: -89px;
                bottom: -20px;

                @media #{$max1199} {
                    right: -50px;
                }

                @media #{$max991} {
                    right: -40px;
                }

                @media #{$max767} {
                    display: none;
                }

                img {
                    @include box-circle();
                }
            }
        }

        .tft-about-us-content {
            flex: 1;
            max-width: 669px;

            @media #{$max767} {
                max-width: 500px;
                margin: auto;
            }

            .tft-about-us-list {
                padding: 44px 0 44px 69px;
                border-top: 1px solid rgba(0, 0, 0, 0.05);

                @media #{$max1199} {
                    padding: 30px;
                }

                @media #{$max991} {
                    padding: 24px 0;
                }

                ul {
                    li {
                        @include d-flex();
                        gap: 15px;
                        margin-bottom: 20px;

                        @media #{$max1199} {
                            @include align-items(center);
                        }

                        @media #{$max767} {
                            gap: 10px;
                            margin-bottom: 15px;
                        }

                        &:last-child {
                            margin-bottom: 0;
                        }

                        .icon {
                            @media #{$max767} {
                                line-height: 0;
                            }

                            i {
                                color: $primary-color;
                                font-size: 1.125rem;

                                @media #{$max767} {
                                    font-size: 1rem;
                                    margin-top: 2px;
                                }
                            }
                        }

                        .text {
                            color: $heading-color;
                            font-family: $font-ubuntu;
                            font-size: 1.125rem;
                            line-height: normal;

                            @media #{$max767} {
                                font-size: 1rem;
                            }
                        }
                    }
                }
            }

            .tft-about-us-button {
                padding-left: 69px;

                @media #{$max1199} {
                    padding-left: 30px;
                }

                @media #{$max991} {
                    padding-left: 0;
                }

                a {
                    min-width: 160px;
                }
            }
        }
    }

    .tft-about-us-shape {
        position: absolute;
        right: -150px;
        bottom: 0;
        z-index: -1;
    }
}