// about us design 1
.tft-about-us-wrapper {
    padding-top: 30px;

    .tft-about-us-grid {
        display: grid;
        grid-template-columns: 35% 65%;

        @media #{$max991} {
            grid-template-columns: 45% 55%;
        }

        @media #{$max767} {
            display: flow-root;
        }

        .tft-about-us-content {
            @include d-flex();
            flex-direction: column;

            @media #{$max767} {
                margin-bottom: 16px;
            }

            h6 {
                font-family: 'Josefin Sans';
                font-size: 1rem;
                font-weight: 700;
                line-height: 130%;
                letter-spacing: 0.16px;
                text-transform: uppercase;
                color: #B58E53;
                margin-top: 0px;
                margin-bottom: 8px;
            }

            h3 {
                font-size: 56px;
                font-weight: 700;
                line-height: 120%;
                color: #595349;
                margin-top: 0px;
                margin-bottom: 32px;

                @media #{$max991} {
                    font-size: 32px;
                }
            }

            p {
                font-size: 18px;
                color: #99948D;

                &.tft-about-us-quotes,
                &.tft-about-us-author {
                    font-size: 1rem;
                    padding-right: 55px;
                    margin-top: 2px;
                }

                &.tft-about-us-author {
                    font-weight: 600;
                }

                &:empty {
                    display: none;
                }
            }

            .read-more {
                a {
                    width: 156px;
                    height: 156px;
                    border: 1px solid #B58E53;
                    display: inline-block;
                    border-radius: 50%;
                    font-size: 1rem;
                    font-weight: 700;
                    color: #B58E53;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    flex-direction: column;
                    transition: .3s all ease;

                    @media #{$max991} {
                        width: 90px;
                        height: 90px;
                    }

                    svg {
                        @media #{$max991} {
                            width: 36px;
                        }
                    }

                    &:hover {
                        background: #917242;
                        border-color: #917242;
                        color: #FDF9F3;

                        svg {
                            @media #{$max991} {
                                width: 36px;
                            }

                            path {
                                fill: #FDF9F3;
                            }
                        }
                    }
                }
            }
        }

        .tft-about-us-image {
            position: relative;

            .years-of-experience {
                position: absolute;
                display: inline-block;
                top: 0;
                z-index: 99;
                left: 30px;

                @media #{$max1199} {
                    left: 30px;
                }

                @media #{$max991} {
                    width: 145px;
                    left: 50px;
                }

                @media #{$max767} {
                    display: none;
                }

                .experience-badge {
                    animation: rotation 14s infinite linear;
                }

                .tft-experience-years {
                    position: absolute;
                    content: "";
                    left: 0;
                    top: 0;
                    width: 100%;
                    height: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    h2 {
                        font-size: 52px;
                        font-style: normal;
                        font-weight: 700;
                        line-height: 120%;
                        color: #99948D;
                        margin: 0;
                        height: 64%;

                        @media #{$max991} {
                            font-size: 32px;
                        }
                    }
                }
            }

            .tft-about-image {
                padding-left: 100px;

                @media #{$max767} {
                    padding-left: 0px;
                }

                img {
                    width: 100%;
                    margin-top: 80px;

                    @media #{$max767} {
                        margin-top: 0px;
                    }
                }
            }
        }
    }
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}