// hero banner
.tft-hero-design-4 {
  background-position: center center;
  min-height: 800px;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 1;
  position: relative;
  @include d-flex();
  @include align-items(center);
  overflow: hidden;
  @media #{$max1366} {
    min-height: 700px;
  }
  @media #{$max1199} {
    min-height: 650px;
  }
  @media #{$max991} {
    min-height: 600px;
  }
  @media #{$max767} {
    min-height: 500px;
  }
  @media #{$max575} {
    min-height: 450px;
  }
  &::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background: $linear-gradient2;
    z-index: -1;
  }
  &__container {
    position: relative;
    width: 100%;
    max-width: 1678px;
    @media #{$max1199} {
      width: 100%;
    }
  }
  // slider
  &__slider {
    position: relative;
    top: 50%;
    &__item {
      @include d-flex();
      @include align-items(center);
      @include justify-content(center);
      color: $color-white;
      &__content {
        text-align: center;
        &--subtitle {
          font-family: $font-caveat;
          font-size: 36px;
          font-weight: 400;
          line-height: 45.36px;
          text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
          @media #{$max1199} {
            font-size: 32px;
            line-height: 40px;
          }
          @media #{$max991} {
            font-size: 28px;
            line-height: 38px;
          }
          @media #{$max767} {
            font-size: 24px;
            line-height: 32px;
          }
        }
        &--title {
          font-family: $font-brygada;
          font-size: 100px;
          font-weight: 500;
          line-height: 117px;
          margin: 14px 0 35px;
          @media #{$max1199} {
            font-size: 80px;
            line-height: 90px;
          }
          @media #{$max991} {
            font-size: 65px;
            line-height: 70px;
          }
          @media #{$max767} {
            font-size: 50px;
            line-height: 65px;
            margin-bottom: 20px;
          }
        }
        &--link {
          padding: 0 42px;
          gap: 5px;
          @media #{$max767} {
            padding: 0 30px;
          }
          i {
            line-height: 18px;
          }
        }
      }
    }
  }

  &__social {
    position: absolute;
    left: -33px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 99;
    @include d-flex();
    flex-direction: column;
    @include justify-content(center);
    @include align-items(center);
    color: $color-white;
    gap: 20px;
    @media #{$max1760} {
      left: 15px;
    }
    @media #{$max1199} {
      background: #07245f;
      left: -60px;
      gap: 10px;
      padding: 14px 8px;
      border-top-right-radius: 5px;
      border-bottom-right-radius: 5px;
    }
    // social list
    &__list {
      @include d-flex();
      gap: 20px;
      flex-direction: column;
      @media #{$max991} {
        gap: 10px;
      }
      &__item {
        &--link {
          @include d-flex();
          @include align-items(center);
          @include justify-content(center);
          @include box-circle();
          width: 45px;
          height: 45px;
          line-height: 48px;
          border: 1px solid #d6dff0;
          @include transition(0.3s);
          @media #{$max991} {
            width: 30px;
            height: 30px;
            line-height: 30px;
          }
          &:hover {
            background: $color-primary;
            border-color: $color-primary;
          }
          i {
            font-size: 14px;
            color: $color-white;
            @media #{$max991} {
              font-size: 12px;
            }
          }
        }
      }
    }
    // divider
    &__divider {
      width: 1px;
      height: 100px;
      background: $color-gray;
      @media #{$max767} {
        height: 80px;
      }
    }

    &__label {
      text-transform: uppercase;
      font-family: $font-ubuntu;
      font-size: 16px;
      font-weight: 500;
      line-height: 18.38px;
      letter-spacing: 0.23em;
      writing-mode: tb-rl;
      transform: rotate(180deg);
      color: white;
    }
  }

  // mobile share label
  &__mobile--share {
    display: none;
    position: absolute;
    left: 0px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    background-color: #101f36b3;
    padding: 10px 6px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    @media #{$max1199} {
      display: block;
    }
  }

  //   slick dots
  .slick-dots {
    position: absolute;
    top: 50%;
    right: -12px;
    max-width: 1706px;
    margin: auto;
    @include d-flex();
    @include align-items(center);
    @include justify-content(center);
    gap: 20px;
    transform: translateY(-50%);
    z-index: 99;
    flex-direction: column;
    align-items: end;
    @media #{$max1760} {
      right: 0;
    }
    @media #{$max991} {
      right: 0;
      bottom: 0px;
      gap: 8px;
      transform: none;
      flex-direction: row;
      width: 100%;
      margin-bottom: -130px;
    }
    @media #{$max575} {
      right: 0;
      bottom: 10px;
      gap: 8px;
      transform: none;
      flex-direction: row;
      width: 100%;
      margin-bottom: -100px;
    }
    li {
      width: 30px;
      height: 30px;
      border: 2px solid transparent;
      background: transparent;
      @include d-flex();
      @include align-items(center);
      @include justify-content(center);
      cursor: pointer;
      @media #{$max767} {
        width: 25px;
        height: 25px;
      }
      &.slick-active {
        border-color: $color-white;
      }
      button {
        width: 10px;
        height: 10px;
        background: $color-white;
        border: 0;
        padding: 0;
        font-size: 0;
        cursor: pointer;
        @include bd-radius(0);
        @media #{$max767} {
          width: 9px;
          height: 9px;
        }
        &:before {
          display: none;
        }
      }
    }
  }
}

// travel form
.tft-travel {
  padding: 80px 0;
  background-color: $color-secondary;
  @media #{$max1199} {
    padding: 60px 0;
  }
  @media #{$max991} {
    padding: 50px 0;
  }
  @media #{$max767} {
    padding: 40px 0;
  }
  .container {
    max-width: 1678px;
  }
  &__form {
    &__fieldset {
      background: transparent;
      border: 0;
      padding: 0;
      @include d-flex();
      @include align-items(center);
      @include justify-content(space-between);
      gap: 70px;
      @media #{$max1366} {
        gap: 40px;
      }
      @media #{$max1199} {
        max-width: 800px;
        margin: auto;
        flex-direction: column;
        @include align-items(start);
      }

      @media #{$max767} {
        max-width: 450px;
        margin: auto;
        gap: 30px;
      }
      &__left {
        max-width: 310px;
        flex: 1;
        @media #{$max1366} {
          max-width: 300px;
        }
        @media #{$max1199} {
          max-width: 100%;
          width: 100%;
        }
      }
      &__middle {
        flex: 1;
        @include d-flex();
        @include align-items(center);
        @include justify-content(space-between);
        @media #{$max1199} {
          width: 100%;
        }
        @media #{$max767} {
          display: grid;
          gap: 40px;
          grid-template-columns: repeat(2, 1fr);
          width: 100%;
        }
        @media #{$max575} {
          width: 100%;
        }
        @media #{$max340} {
          gap: 25px;
        }
      }
      &__right {
        max-width: 180px;
        flex: 1;
      }
    }

    &__divider {
      background: #ffffff2e;
      width: 1px;
      height: 100px;
      @media #{$max767} {
        display: none;
      }
    }

    &__field {
      @include d-flex();
      @include align-items(center);
      gap: 20px;
      color: $color-white;
      position: relative;
      @media #{$max1366} {
        gap: 16px;
      }
      @media #{$max767} {
        gap: 12px;
      }
      .field--title {
        font-family: $font-brygada;
        font-size: 60px;
        font-weight: 500;
        line-height: 70.2px;
        @media #{$max1366} {
          font-size: 50px;
          line-height: 60.2px;
        }
        @media #{$max991} {
          font-size: 40px;
          line-height: 1;
        }
        @media #{$max340} {
          font-size: 35px;
        }
      }
      .form--span {
        display: block;
        font-family: $font-ubuntu;
        font-size: 18px;
        font-weight: 400;
        line-height: 26px;
        @media #{$max991} {
          font-size: 15px;
          line-height: 22px;
        }
      }
      .form--span__bold {
        font-weight: bold;
      }
      &__incdec {
        span {
          &.form--span {
            font-size: 24px;
            line-height: 27.58px;
            text-align: center;
            @media #{$max991} {
              font-size: 20px;
              line-height: 22.98px;
            }
          }
        }
      }

      &__icon {
        line-height: 0;
        svg {
          @media #{$max1366} {
            width: 38px;
            height: auto;
          }
          @media #{$max991} {
            width: 35px;
            height: auto;
          }
          @media #{$max767} {
            width: 30px;
            height: auto;
          }
        }
      }
      .icon--location {
        position: absolute;
        top: 17px;
        right: 22px;
        @media #{$max767} {
          top: 12px;
          right: 16px;
        }
        svg {
          @media #{$max1366} {
            width: 12px;
          }
        }
      }
    }

    &__label {
      font-family: $font-ubuntu;
      font-size: 20px;
      font-weight: 400;
      line-height: 22.98px;
      color: $color-white;
      opacity: 0.5;
      margin-bottom: 28px;
      display: block;
      @media #{$max991} {
        font-size: 18px;
        margin-bottom: 18px;
      }
      @media #{$max767} {
        font-size: 16px;
        margin-bottom: 12px;
      }
    }

    input[type="text"] {
      width: 100%;
      background: #2051f5;
      color: $color-white;
      border: 0;
      font-family: $font-ubuntu;
      font-size: 16px;
      font-weight: 400;
      line-height: 18.38px;
      padding: 16px 25px 21px;
      @include bd-radius(5px);
      @media #{$max767} {
        font-size: 14px;
        padding: 12px 16px 16px;
      }
      &::placeholder {
        color: $color-white;
      }
    }

    button[type="submit"] {
      @include bd-radius(5px);
      gap: 15px;
      padding: 0;
      cursor: pointer;
      border: 0;
      &:hover {
        background: $color-blue;
      }
    }
  }
}

// about us design 2
.tft-about-design-2 {
  padding-bottom: 104px;
  position: relative;
  z-index: 1;
  overflow-x: hidden;
  @media #{$max1399} {
    padding-bottom: 100px;
    padding-left: 15px;
    padding-right: 15px;
  }
  @media #{$max1199} {
    padding-bottom: 80px;
  }
  @media #{$max991} {
    padding-bottom: 60px;
  }
  @media #{$max767} {
    padding-bottom: 40px;
  }
  .tft-about-us-grid {
    @include d-flex();
    @include justify-content(center);
    gap: 59px;

    @media #{$max991} {
      flex-direction: column-reverse;
      gap: 40px;
      max-width: 600px;
      margin: auto;
    }
    .tft-about-image {
      min-width: 491px;
      position: relative;
      @media #{$max767} {
        min-width: auto;
      }
      .tft-about-curbe-image {
        max-width: 441px;
        position: relative;
        img {
          width: 100%;
          border-bottom-left-radius: 1000px;
          border-bottom-right-radius: 1000px;
          @media #{$max767} {
            border-radius: 0;
          }
        }
        &::after {
          content: "";
          position: absolute;
          left: 50px;
          top: 50px;
          width: 100%;
          height: 100%;
          border-radius: 0px 0px 1000px 1000px;
          border: 1px solid rgba(0, 0, 0, 0.05);
          @media #{$max767} {
            display: none;
          }
        }
      }
      .tft-about-circle-image {
        position: absolute;
        right: -89px;
        bottom: -20px;
        @media #{$max1199} {
          right: -50px;
        }
        @media #{$max991} {
          right: -40px;
        }
        @media #{$max767} {
          display: none;
        }
        img {
          @include box-circle();
        }
      }
    }
    .tft-about-us-content {
      flex: 1;
      max-width: 669px;

      .tft-about-us-list {
        padding: 44px 0 44px 69px;
        border-top: 1px solid rgba(0, 0, 0, 0.05);
        @media #{$max1199} {
          padding: 30px;
        }
        @media #{$max991} {
          padding: 24px 0;
        }
        ul {
          li {
            @include d-flex();
            gap: 15px;
            margin-bottom: 20px;
            @media #{$max767} {
              gap: 10px;
              margin-bottom: 15px;
            }
            &:last-child {
              margin-bottom: 0;
            }
            .icon {
              i {
                color: $color-primary;
                font-size: 18px;
                font-style: normal;
                font-weight: 400;
                line-height: 28px;
                @media #{$max767} {
                  font-size: 16px;
                  line-height: normal;
                }
              }
            }
            .text {
              color: $color-black;
              font-family: $font-ubuntu;
              font-size: 18px;
              font-style: normal;
              font-weight: 400;
              line-height: normal;
              @media #{$max767} {
                font-size: 16px;
              }
            }
          }
        }
      }
      .tft-about-us-button {
        padding-left: 69px;
        @media #{$max1199} {
          padding-left: 30px;
        }
        @media #{$max991} {
          padding-left: 0;
        }
        a {
          min-width: 160px;
        }
      }
    }
  }
  .tft-about-us-shape {
    position: absolute;
    right: -150px;
    bottom: 0;
    z-index: -1;
  }
}

// team v2
.tft-team-wrapper-v2 {
  .container {
    max-width: 1220px;
    margin: auto;
    @media #{$max1399} {
      padding: 0 15px;
    }
  }
  .tft-heading-content {
    text-align: center;
    margin-bottom: 70px;
    @media #{$max1199} {
      margin-bottom: 60px;
    }
    @media #{$max991} {
      margin-bottom: 50px;
    }
    @media #{$max767} {
      margin-bottom: 40px;
    }
    h2 {
      margin-left: auto;
      margin-right: auto;
      &::after {
        left: 50%;
        transform: translateX(-50%);
      }
    }
  }
  .tft-team-members {
    @include d-flex();
    gap: 24px;
    padding-bottom: 60px;
    overflow: visible;
    // margin-bottom: 0!important;
    .slick-list {
      margin: 0 -15px !important;
    }
    .slick-slide {
      margin: 0 15px !important;
      // box-shadow: 0px 5px 35px 0px rgba(157, 143, 132, 0.15);
      box-shadow: none !important;
    }
    .slick-dots {
      @include d-flex();
      @include justify-content(center);
      @include align-items(center);
      li {
        width: 30px;
        height: 30px;
        border: 2px dashed transparent;
        text-align: center;
        border-radius: 100px;
        @include d-flex();
        @include justify-content(center);
        @include align-items(center);
        button {
          width: 10px;
          height: 10px;
          background: #e8d9cf;
          border-radius: 50%;
          &::before {
            display: none;
          }
        }
        &.slick-active {
          border-color: $color-primary;
          button {
            background: $color-primary;
          }
        }
      }
    }

    .tft-single-member {
      flex: 1;
      padding: 30px;
      padding-bottom: 40px;
      @include bd-radius(15px);
      background: $color-white;
      @media #{$max767} {
        padding-bottom: 20px;
      }
      .member_img {
        img {
          @include bd-radius(15px);
          // margin-bottom: 54px;
        }
      }
      .member-details {
        text-align: center;
        padding: 0;
        h3 {
          color: $color-primary;
          font-family: $font-ubuntu;
          font-size: 16px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
          margin-bottom: 20px;
          @media #{$max767} {
            font-size: 15px;
          }
        }
        p {
          color: $color-black2;
          font-family: $font-brygada;
          font-size: 24px;
          font-style: normal;
          font-weight: 700;
          line-height: normal;
          margin-bottom: 0;
          @media #{$max767} {
            font-size: 20px;
          }
        }
        .social-media-icons {
          margin-top: -30px;
          padding-bottom: 30px;
          position: relative;
          @media #{$max767} {
            margin-top: -25px;
          }
          button {
            padding: 16px;
            border-radius: 5px;
            background: $color-primary;
            border: 0;
            box-shadow: 0px 5px 35px 0px rgba(250, 100, 0, 0.4);
            @media #{$max767} {
              padding: 12px;
            }
            cursor: pointer;
            i {
              color: $color-white;
              font-size: 18px;
            }
          }
          .social-media {
            background: $color-primary;
            width: fit-content;
            padding: 7px 25px;
            @include bd-radius(4px);
            display: flex;
            gap: 15px;
            position: absolute;
            top: -40px;
            left: 50%;
            transform: translateX(-50%);
            display: none;
            &.active {
              display: flex;
            }
            a {
              color: $color-white;
            }
          }
        }
      }
    }
  }
  .tft_team_bottom_shape {
    margin-top: -320px;
    z-index: -1;
    position: relative;
    @media #{$max1760} {
      margin-top: -250px;
    }
    @media #{$max1399} {
      margin-top: -180px;
    }
    @media #{$max1199} {
      margin-top: -130px;
    }
    @media #{$max767} {
      display: none;
    }
  }
}

// testimonial design 3
.tft-testimonials-design-3 {
  padding: 169px 0 172px;
  background-repeat: no-repeat;
  overflow-x: hidden;
  background-size: cover;
  @media #{$max1199} {
    padding: 130px 0 60px;
  }
  .tft-testimonials-content {
    @include d-flex();
    flex-wrap: nowrap;
    gap: 48px;

    @media #{$max991} {
      flex-wrap: wrap;
    }
    @media #{$max767} {
      gap: 30px;
    }
    .tft-heading-content {
      min-width: 408px;
      max-width: 408px;
      @media #{$max991} {
        min-width: inherit;
        max-width: inherit;
      }
      .tft-slider-arrows {
        @include d-flex();
        gap: 20px;
        .tft-arrow {
          width: 70px;
          height: 70px;
          @include d-flex();
          @include justify-content(center);
          @include align-items(center);
          background: $color-white;
          @include transition(0.3s);
          @include box-circle();
          cursor: pointer;
          border: 1px solid transparent;
          @media #{$max1199} {
            width: 50px;
            height: 50px;
            border-color: $color-gray2;
          }
          i {
            color: $color-gray2;
            font-size: 16px;
            line-height: normal;
          }
          &:hover {
            background-color: $color-primary;
            border-color: $color-primary;
            i {
              color: $color-white;
            }
          }
        }
      }
    }
    .tft-testimonials-sliders {
      max-width: 764px;
      @media #{$max1199} {
        max-width: 100%;
      }
      .tft-testimonials-slides {
        @include d-flex();
        gap: 24px;
        .tft-single-testimonial {
          @include bd-radius(15px);
          flex: 1;
          background: $color-white;
          padding: 40px;
          box-shadow: 0px 5px 35px 0px rgba(157, 143, 132, 0.15);
          @media #{$max1199} {
            padding: 35px;
          }
          @media #{$max991} {
            padding: 30px;
          }
          @media #{$max767} {
            padding: 25px;
          }
          .tft-testimonials-inner {
            .testimonial-review {
              margin: 0;
              p {
                color: $color-gray2;
                font-family: $font-ubuntu;
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: 28px;
                @media #{$max767} {
                  font-size: 15px;
                  line-height: 26px;
                }
              }
            }
            .testimonial-author {
              margin-top: 40px;
              padding-top: 30px;
              border-top: 1px solid #f0f0f0;
              @include d-flex();
              @include align-items(center);
              gap: 15px;
              @media #{$max991} {
                margin-top: 35px;
                padding-top: 30px;
              }
              @media #{$max767} {
                margin-top: 30px;
                padding-top: 25px;
              }
              .testimonial-author-image {
                width: 55px;
                height: 55px;
                @media #{$max767} {
                  width: 45px;
                  height: 45px;
                }
                img {
                  height: 100%;
                  width: 100%;
                  @include bd-radius(50%);
                }
              }
              .testimonial-author-info {
                h4 {
                  color: $color-black2;
                  font-family: $font-brygada;
                  font-size: 18px;
                  font-style: normal;
                  font-weight: 700;
                  line-height: normal;
                  margin-bottom: 7px;
                  @media #{$max767} {
                    font-size: 16px;
                  }
                }
                p {
                  color: $color-gray2;
                  font-family: $font-ubuntu;
                  font-size: 14px;
                  font-style: normal;
                  font-weight: 400;
                  line-height: normal;
                  margin-bottom: 0;
                }
              }
            }
          }
        }
      }
    }
  }
}

// tft destination design 3
.tft-destination-design-3 {
  .tft-destination-content {
    @include d-flex();
    gap: 24px;
    @media #{$max1760} {
      gap: 20px;
    }
    @media #{$max991} {
      gap: 20px;
    }
    .tft-heading-content {
      flex-basis: calc(608px - 12px);
      @media #{$max1760} {
        flex-basis: calc(40% - 15px);
      }
      @media #{$max991} {
        flex-basis: calc(50% - 10px);
      }
      @media #{$max767} {
        flex-basis: 100%;
      }
      .tft-section-content {
        max-width: 490px;
        @media #{$max767} {
          max-width: 100%;
        }
        p {
          margin-bottom: 30px;
        }
      }
      .tft-btn {
        height: 50px;
        padding: 16px 36px;
        background: #f2f2f2;
        color: $color-black2;
        &:hover {
          background: $color-primary;
          color: $color-white;
        }
      }
    }
    .tft-single-destination {
      flex-basis: 288px;
      @media #{$max1760} {
        flex-basis: calc(30% - 15px);
      }
      @media #{$max991} {
        flex-basis: calc(50% - 10px);
      }
      @media #{$max575} {
        flex-basis: 100%;
      }

      &:nth-child(5) {
        flex-basis: calc(608px - 12px);
        @media #{$max1760} {
          flex-basis: calc(40% - 15px);
        }
        @media #{$max991} {
          flex-basis: calc(50% - 10px);
        }
        @media #{$max575} {
          flex-basis: 100%;
        }
      }
      .tft-destination-thumbnail {
        height: 300px;
        @include bd-radius(15px);
        position: relative;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        z-index: 1;
        &::after {
          content: "";
          position: absolute;
          left: 0;
          top: 0;
          background: linear-gradient(
            180deg,
            rgba(0, 0, 0, 0) 0%,
            rgba(0, 0, 0, 0.87) 88%
          );
          width: 100%;
          height: 100%;
          @include bd-radius(15px);
          z-index: -1;
        }
        .tft-desination-content {
          position: absolute;
          bottom: 35px;
          left: 35px;
          color: white;
          a {
            color: $color-white;
            @include transition(0.3s);
            h3 {
              font-family: $font-ubuntu;
              font-size: 24px;
              font-style: normal;
              font-weight: 500;
              line-height: normal;
              margin-bottom: 10px;
            }
            &:hover {
              color: $color-primary;
            }
          }
          p {
            margin-bottom: 0;
            color: #fff;
            font-family: $font-ubuntu;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
          }
        }
      }
    }
  }
}

.tft-section-wrapper {
  .tft-section-title {
    h2 {
      position: relative;
      &::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 335px;
        height: 34px;
        background: rgba(255, 107, 0, 0.1);
        @media #{$max991} {
          height: 30px;
          width: 300px;
        }
        @media #{$max767} {
          width: 250px;
        }
      }
    }
  }
}
.tft-travelling-service {
  .tft-section-title {
    h2 {
      position: relative;
      &::after {
        left: 0%;
        transform: translateX(0%);
        bottom: -5px;
      }
    }
  }
}

// tft gallery wrapper
.tft-gallery-wrapper {
  .tft-gallery-grid {
    padding: 0 !important;
    .tft-gallery-item {
      .tft-gallery-popup-btn {
        visibility: hidden;
        @include transition(0);
        .elementor-icon-wrapper {
          width: 100px;
          height: 100px;
          margin: auto;
          cursor: pointer;
          @media #{$max991} {
            width: 80px;
            height: 80px;
          }
          @media #{$max767} {
            width: 60px;
            height: 60px;
          }
        }
      }
      &:hover {
        .tft-gallery-popup-btn {
          visibility: visible;
        }
      }
    }
  }
}
