@use '../abstracts/variable' as *;
@use '../abstracts/mixins' as *;

.tft-pre-footer-design{
  &__four{
    padding: 96px 0;
    background-color: $tft-color-secondary;

    .tft-newsletter-wrap{
      display: flex;
      @include align-items(center);
      gap: 32px;

      .tft-newsletter-left,
      .tft-newsletter-right{
        flex: 1;
      }
      
      .tft-newsletter-left{
        h2{
          color: #F5FFFE;
          font-size: 3.188rem;
          font-weight: 400;
          line-height: 1.3;
          margin: 0 0 16px 0;
        }
        p{
          color: $tft-color-text-lite;
          font-size: 17px;
          font-weight: 400;
          line-height: 1.5;
          margin: 0;
        }
      }

      .tft-newslatter{
        &>p{
          @include d-flex();
          gap: 16px;
          margin: 0;

          .wpcf7-form-control-wrap input{
            width: 369px;
            height: 56px;
            padding: 12px 32px;
            border-radius: 72px;
            border: 2px solid #BB4307;
            background: $tft-color-primary;
            color: $tft-color-text-lite;

            &::placeholder{
              color: $tft-color-text-lite;
            }
          }

          .wpcf7-submit{
            padding: 12px 32px;
            border-radius: 72px;
            border: 2px solid #BB4307;
            background: $tft-color-links !important;
            color: #fff;
            width: auto;
            height: 56px;
          }
        }
      }
    }
  }
}
.tft-footer-design {

  &__two {
    padding-top: 60px;
    padding-bottom: 32px;
    background-color: $tft-color-dark-brown;
    color: $tft-color-orange-light;
    position: relative;
    @media #{$max767} {
      padding-top: 32px;
      padding-bottom: 16px;
    }

    a {
      color: $tft-color-orange-light;
    }

    .tft-grid {
      display: flex;
      justify-content: space-between;
      align-content: flex-start;
      flex-wrap: nowrap;
      gap: 83px;
      @media #{$max1199} {
        gap: 40px;
      }
      @media #{$max991} {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
      }

      @media #{$max575} {
        display: flex;
        flex-wrap:wrap;
        row-gap: 0px;
        column-gap: 24px;
      }

      .tft-footer-section {
        width: 100%;
        @media #{$max767} {
          margin-bottom: 24px;
          &:last-child {
            margin-bottom: 0;
          }
        }
        &:first-child {
          .wp-block-group{
            width: 350px;
            @media #{$max767} {
              width: 270px;
            }

            @media #{$max575} {
              width: 100%;
            }
          }
        }
        &:nth-child(2),
        &:nth-child(3) {
          flex-basis: calc(50% - 12px);
        }
        .wp-block-heading{
          @media #{$max767} {
            margin-bottom: 16px;
            font-size: 1.25rem;
          }
         
        }
      }

      h2 {
        font-size: 2rem;
        font-weight: 700;
        color: $tft-color-primary;
        margin-bottom: 24px;
        line-height: 1;
      }

      ul {
        margin: 0;
        padding: 0;

        li {
          display: block;
          padding-bottom: 8px;
          margin: 0;
          color: $tft-color-orange-light;
          a {
            text-decoration: none;
            display: block;
            color: inherit;
            font-size: 1rem;
            font-weight: 600;
            transition: all 0.2s ease;
            @media #{$max1024} {
              font-weight: 400;
              font-size: 0.875rem;
            }
            &:hover {
              color: $tft-color-secondary;
            }
          }
        }

        li:last-child {
          padding-bottom: 0px;
        }
        &.tft-footer-menu-list {
          li{
            a{
              font-weight: 400;
            }
          }
        }
      }

      p {
        margin: 0;
        @media #{$max767} {
          font-size: 0.875rem;
        }
      }
    }

    .tft-footer-shape {
      position: absolute;
      left: 0;
      bottom: 0;
      background-image: url("../img/footer-shape.png");
      background-repeat: no-repeat;
      width: 110px;
      height: 125px;
    }

  }

  &__three {
    padding: 72px 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    color: $tft-color-white;
    z-index: 1;
    position: relative;

    @media #{$max1199} {
      padding: 60px 0;
    }

    @media #{$max991} {
      padding: 50px 0;
    }

    @media #{$max767} {
      padding: 40px 0;
    }

    &::after {
      content: '';
      position: absolute;
      background: $tft-color-dark-blue;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      z-index: -1;
      opacity: .95;
    }

    .footer-widget {
      .footer-widget-inner {
        @include d-flex();
        @include justify-content(space-between);

        @media #{$max991} {
          gap: 30px;
        }

        @media #{$max767} {
          gap: 20px;
        }

        @media #{$max575} {
          flex-direction: column;
        }
      }
    }

    h2.wp-block-heading,
    h3.wp-block-heading {
      font-size: 1.5rem;
      font-weight: 500;
      line-height: 1.15;
      padding-bottom: 15px;
      margin-bottom: 32px;
      position: relative;

      @media #{$max991} {
        font-size: 1.25rem;
        margin-bottom: 25px;
        padding-bottom: 12px;
      }

      @media #{$max767} {
        font-size: 1.125rem;
        margin-bottom: 18px;
        padding-bottom: 8px;
      }

      &::after {
        content: "";
        position: absolute;
        top: 100%;
        left: 0;
        width: 60px;
        height: 2px;
        background-color: $tft-color-white;
      }
    }

    h3.wp-block-heading {
      padding-bottom: 0;
      margin: 0;

      &::after {
        display: none;
      }
    }

    h4.wp-block-heading {
      color: $tft-color-white;
      font-size: 1.125rem;
      font-weight: 500;
      margin-bottom: 16px;

      @media #{$max767} {
        font-size: 1rem;
        margin-bottom: 10px;
      }
    }

    p {
      margin-bottom: 0;

      @media #{$max767} {
        font-size: 0.875rem;
        line-height: 1.5;
      }
    }

    .wp-block-list {
      li {
        a {
          color: $tft-color-white;
          display: block;
          padding-bottom: 8px;
          @include transition(0.2s);

          @media #{$max767} {
            font-size: 0.938rem;
            padding-bottom: 5px;
          }

          &:hover {
            color: $tft-color-secondary;
          }
        }

        &:last-child {
          a {
            padding-bottom: 0;
          }
        }
      }
    }

    .tft-footer-section {
      @media #{$max767} {
        margin-bottom: 0;
      }

      &:first-child {
        max-width: 205px;

        @media #{$max767} {
          font-size: 0.938rem;
          line-height: 1.6;
        }

        @media #{$max575} {
          max-width: 100%;
        }

        a {
          color: $tft-color-white;
        }

        p {
          &:last-child {
            margin-bottom: 0;
          }
        }

        h4 {
          margin-top: 32px;

          @media #{$max991} {
            margin-top: 25px;
          }

          @media #{$max767} {
            margin-top: 18px;
          }
        }
      }

      .wp-block-image {
        max-width: 205px;
        margin-bottom: 32px;
      }
    }
  }

  &__four {
    padding: 96px 0 32px 0;
    color: $tft-color-white;
    z-index: 1;
    position: relative;

    @media #{$max767} {
      padding-top: 56px;
    }

    .footer-widget {
      @include d-flex();
      @include justify-content(space-between);

      @media #{$max991} {
        gap: 30px;
      }

      @media #{$max767} {
        gap: 20px;
      }

      @media #{$max575} {
        flex-direction: column;
      }
    }

    .wp-block-heading{
      color: #F5FFFE;
      font-size: 17px;
      font-weight: 600;
      line-height: 1.5;
      margin-bottom: 16px;
    }

    p {
      margin-bottom: 0;

      @media #{$max767} {
        font-size: 0.875rem;
        line-height: 1.5;
      }
    }

    .wp-block-list {
      li {
        a {
          color: $tft-color-text-lite;
          line-height: 1.5;
          display: block;
          @include transition(0.2s);

          &:hover {
            color: $tft-color-links !important;
          }
        }
      }
    }

    .tft-footer-section {
      @media #{$max767} {
        margin-bottom: 0;
      }

      &:first-child {
        max-width: 263px;

        @media #{$max575} {
          max-width: 100%;
        }
        
        p {
          &:last-child {
            margin-bottom: 0;
          }
        }
      }

      .wp-block-image {
        margin-bottom: 16px;
      }

      .tft-footer-info-text{
        color: $tft-color-text-lite !important;
        font-size: 25px;
        font-weight: 700;
        line-height: 1.5;
      }

      .tft-footer-contact ul li i{
        color: $tft-color-text-lite !important;
      }
      .tft-footer-contact ul li a:hover{
        color: $tft-color-links !important;
      }

      .tft-footer-social-link ul {
        column-gap: 16px;
        row-gap: 10px;

        li {
          margin: 0;

          a {
            height: auto;
            width: auto;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: transparent !important;

            i {
              color: #F5FFFE !important;
              font-size:  24px;
              @include transition(0.2s);
            }

            &:hover{
              i{
                color: $tft-color-links !important;
              }
            }
          }
        }
      }
    }
  }

  &__one,
  &__two,
  &__three {

    input[type="email"],
    input[type="text"] {
      max-width: 320px;
      min-height: 52px;
      background:$tft-color-dark-blue;
      @include bd-radius(1000px);
      padding: 16px 32px;
      color: $tft-color-white;
      line-height: 1.2;
      border: 0;
      margin-top: 16px;

      @media #{$max767} {
        min-height: 45px;
        padding: 10px 25px;
        font-size: 0.938rem;
        margin-top: 12px;
        max-width: 100%;
      }

      &::placeholder {
        color: $tft-color-white;
      }
    }

    input[type="submit"] {
      width: fit-content;
      min-width: 174px;
      padding: 0;
      height: 50px;
      background: $tft-color-primary;
      border: 0;
      color: $tft-color-white;
      text-align: center;
      margin-top: 16px;
      @include bd-radius(9999px);

      @media #{$max767} {
        margin-top: 12px;
      }

      @media #{$max575} {
        min-height: 45px;
        font-size: 0.938rem;
      }

      &:hover {
        background: $tft-color-secondary;
      }
    }
  }
}

// footer bottom
.tft-footer-bottom {
  &__two {
    border-top: 0.5px solid $tft-color-dawn;
    margin-top: 32px;

    p {
      margin: 0;
      padding-top: 32px;
      color: $tft-color-text;
      text-align: center;
      @media #{$max767} {
        padding-top: 16px;
        font-size: 0.875rem;
      }
      a {
        text-decoration: none;
        color: $tft-color-text;
      }
    }

  }

  &__three {
    font-size: 0.75rem;
    color: $tft-color-white;
    overflow: hidden;

    &__inner {
      @include d-flex();
      align-items: stretch;

      @media #{$max767} {
        align-items: inherit;
      }
    }

    &__copyright {
      background: $tft-color-dark-blue;
      flex: 2;
      padding: 16px 0;
      position: relative;
      @include d-flex();
      align-items: center;

      @media #{$max767} {
        flex: 1;
        padding: 12px 5px;
        padding-left: 0;
      }

      &::after {
        content: "";
        position: absolute;
        right: 100%;
        padding-right: 100%;
        top: 0;
        background: $tft-color-dark-blue;
        width: 100vw;
        height: 100%;
        z-index: 99;
      }

      p {
        margin-bottom: 0;

        @media #{$max767} {
          line-height: 1.125;
        }
      }
    }

    &__menu {
      background: $tft-color-secondary;
      flex: 0.8;
      padding: 16px 0;
      text-align: center;
      position: relative;

      @media #{$max767} {
        flex: 1;
        padding: 12px 8px;
        padding-right: 0;
      }

      &::after {
        content: "";
        position: absolute;
        left: 100%;
        padding-right: 100%;
        top: 0;
        background: $tft-color-secondary;
        width: 100vw;
        height: 100%;
        z-index: 99;
      }
    }

    &__nav {
      @include d-flex();
      @include align-items(center);
      @include justify-content(end);
      gap: 22px;

      @media #{$max767} {
        justify-content: center;
        gap: 10px;
        position: relative;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
      }

      a {
        color: $tft-color-white;
        @include transition(0.2s);

        &:hover {
          color: $tft-color-primary;
        }
      }
    }
  }

  &__four {
    border-top: 1px solid $tft-color-border-default;
    font-size: 0.75rem;
    color: $tft-color-text-lite;
    background: $tft-color-primary;
    overflow: hidden;
    padding: 40px 0 32px 0;

    &__inner {
      @include d-flex();
      align-items: stretch;

      @media #{$max767} {
        align-items: inherit;
      }
    }

    &__copyright {
      flex: 2;
      position: relative;
      @include d-flex();
      align-items: center;

      @media #{$max767} {
        flex: 1;
        padding-left: 0;
      }

      p {
        margin-bottom: 0;

        @media #{$max767} {
          line-height: 1.125;
        }
      }
    }

    &__menu {
      flex: 0.8;
      text-align: center;
      position: relative;

      @media #{$max767} {
        flex: 1;
        padding-right: 0;
      }
    }

    &__nav {
      @include d-flex();
      @include align-items(center);
      @include justify-content(end);
      gap: 22px;

      @media #{$max767} {
        justify-content: center;
        gap: 10px;
        position: relative;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
      }

      a {
        color: $tft-color-white;
        @include transition(0.2s);

        &:hover {
          color: $tft-color-primary;
        }
      }
    }
  }
}
@media #{$max767} {
  .single-tf_tours .tf-single-template__one ~ .tft-site-footer .tft-footer-bottom,
  .single-tf_tours .tf-single-template__one ~ .tft-footer-bottom__three{
    margin-bottom: 70px;
  }

  .single-tf_tours .tf-single-template__two ~ .tft-site-footer .tft-footer-bottom,
  .single-tf_tours .tf-single-template__two ~ .tft-footer-bottom__three {
    margin-bottom: 50px;
  }

  .single-tf_tours .tf-single-template__legacy ~ .tft-site-footer .tft-footer-bottom,
  .single-tf_tours .tf-single-template__legacy ~ .tft-footer-bottom__three {
    margin-bottom: 60px;
  }

  .single-tf_carrental .tf-single-template__one ~ .tft-site-footer .tft-footer-bottom,
  .single-tf_carrental .tf-single-template__one ~ .tft-footer-bottom__three {
    margin-bottom: 90px;
  }
}
