@use '../abstracts/variable' as *;
@use '../abstracts/mixins' as *;

.footer {
  padding: 72px 0;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  color: $color-white;
  z-index: 1;
  position: relative;
  @media #{$max1199} {
    padding: 60px 0;
  }
  @media #{$max991} {
    padding: 50px 0;
  }
  @media #{$max767} {
    padding: 40px 0;
  }
  
  &__widget {
    &__row {
      @include d-flex();
      @include justify-content(space-between);
      @media #{$max991} {
        gap: 30px;
      }
      @media #{$max767} {
        gap: 20px;
      }
      @media #{$max575} {
        flex-direction: column;
      }
    }
  }
  h2.wp-block-heading,
  h3.wp-block-heading {
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 27.58px;
    padding-bottom: 15px;
    margin-bottom: 32px;
    position: relative;
    @media #{$max991} {
      font-size: 1.25rem;
      margin-bottom: 25px;
      padding-bottom: 12px;
    }
    @media #{$max767} {
      font-size: 1.125rem;
      margin-bottom: 18px;
      padding-bottom: 8px;
    }
    &::after {
      content: "";
      position: absolute;
      top: 100%;
      left: 0;
      width: 60px;
      height: 2px;
      background-color: $color-white;
    }
  }
  h3.wp-block-heading {
    padding-bottom: 0;
    margin: 0;
    &::after {
      display: none;
    }
  }
  h4.wp-block-heading {
    color: $color-white;
    font-size: 1.125rem;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 16px;
    @media #{$max767} {
      font-size: 1rem;
      margin-bottom: 10px;
    }
  }
  p {
    margin-bottom: 0;
    @media #{$max767} {
      font-size: 0.875rem;
      line-height: 22px;
    }
  }
  .wp-block-list {
    li {
      a {
        color: $color-white;
        display: block;
        padding-bottom: 8px;
        @include transition(0.2s);

        @media #{$max767} {
          font-size: 0.938rem;
          padding-bottom: 5px;
        }
        &:hover {
          color: #FA6400;
        }
      }
      &:last-child {
        a {
          padding-bottom: 0;
        }
      }
    }
  }

  .tft-footer-section {
    @media #{$max767} {
      margin-bottom: 0;
    }
    &:first-child {
      max-width: 205px;
      @media #{$max767} {
        font-size: 0.938rem;
        line-height: 24px;
      }
      @media #{$max575} {
        max-width: 100%;
      }
      a {
        color: $color-white;
      }
      p {
        &:last-child {
          margin-bottom: 0;
        }
      }
      h4 {
        margin-top: 32px;
        @media #{$max991} {
          margin-top: 25px;
        }
        @media #{$max767} {
          margin-top: 18px;
        }
      }
    }
    .wp-block-image {
      max-width: 205px;
      margin-bottom: 32px;
    }
  }
}

// footer bottom
.footer-bottom {
  font-family: $font-ubuntu;
  font-size: 0.75rem;
  line-height: 13.79px;
  color: $color-white;
  overflow: hidden;
  &__inner {
    @include d-flex();
    align-items: center;
    @media #{$max767} {
      align-items: inherit;
    }
  }
  &__copyright {
    background: $color-dark-blue3;
    flex: 2;
    padding: 16px 0;
    // text-align: center;
    position: relative;
    @media #{$max767} {
      flex: 1;
      padding: 12px 5px;
      padding-left: 0;
    }
    &::after {
      content: "";
      position: absolute;
      right: 100%;
      padding-right: 100%;
      top: 0;
      background: $color-dark-blue3;
      width: 100vw;
      height: 100%;
      z-index: 99;
    }
    p {
      margin-bottom: 0;
      @media #{$max767} {
        line-height: 18px;
      }
    }
  }
  &__menu {
    background: #0e3dd8;
    flex: 0.8;
    padding: 16px 0;
    text-align: center;
    position: relative;
    @media #{$max767} {
      flex: 1;
      padding: 12px 8px;
      padding-right: 0;
    }
    &::after {
      content: "";
      position: absolute;
      left: 100%;
      padding-right: 100%;
      top: 0;
      background: #0e3dd8;
      width: 100vw;
      height: 100%;
      z-index: 99;
    }
  }
  &__nav {
    @include d-flex();
    @include align-items(center);
    @include justify-content(end);
    gap: 22px;
    @media #{$max767} {
      justify-content: center;
      gap: 10px;
      position: relative;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }
    a {
      color: $color-white;
      @include transition(0.2s);
      &:hover {
        color: #FA6400;
      }
    }
  }
}

footer.tft-design-,
footer.tft-design-2,
footer.tft-footer-design-3 {
  input[type="email"],
  input[type="text"] {
    max-width: 320px;
    min-height: 52px;
    background: #203453;
    @include bd-radius(1000px);
    padding: 16px 32px;
    color: $color-white;
    line-height: 18.38px;
    border: 0;
    margin-top: 16px;
  
    @media #{$max767} {
      min-height: 45px;
      padding: 10px 25px;
      font-size: 0.938rem;
      margin-top: 12px;
      max-width: 100%;
    }
    &::placeholder {
      color: $color-white;
    }
  }
  input[type="submit"] {
    width: fit-content;
    min-width: 174px;
    padding: 0;
    height: 50px;
    background: #0e3dd8;
    border: 0;
    color: $color-white;
    text-align: center;
    margin-top: 16px;
    @include bd-radius(9999px);
    @media #{$max767} {
      margin-top: 12px;
    }
    @media #{$max575} {
      min-height: 45px;
      font-size: 0.938rem;
    }
    &:hover {
      background: #FA6400;
    }
  }
}
footer.tft-footer-design-3{
  &::after{
    content: '';
    position: absolute;
    background: #101f36d5;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: .95;
  }
}