@use '../abstracts/variable' as *;
@use '../abstracts/mixins' as *;

.tft-header-design {

  &__two {
    .tft-top-header {
      background: $tft-color-dark-brown;
      padding-top: 16px;
      padding-bottom: 16px;
      @media #{$max1024} {
        padding: 12px 0;
      }
      .tft-flex {
        justify-content: space-between;
        align-items: center;

        @media #{$max767} {
          flex-wrap: wrap;
        }

        .tft-contact-info {
          @media #{$max767} {
            width: 100%;
          }

          ul {
            margin: 0;
            padding: 0;
            display: flex;

            @media #{$max767} {
              justify-content: center;
              flex-wrap: wrap;
            }

            li {
              display: inline-flex;
              color: $tft-color-white;
              margin-left: 24px;
              align-items: center;
              font-weight: 400;

              svg {
                margin-right: 8px;
              }

              a {
                color: $tft-color-white;
                transition: 0.3s all ease;
              }
            }

            li:first-child {
              margin: 0px;
            }
          }
        }

        .tft-social-share {
          margin-top: 7px;
          line-height: 1;

          @media #{$max767} {
            width: 100%;
            text-align: center;
            margin-top: 10px;
          }

          ul {
            margin: 0;
            padding: 0;

            li {
              display: inline-block;
              margin-left: 20px;

              @media #{$max767} {
                margin: 0px 5px;
              }
            }

            li:first-child {
              margin: 0px;

              @media #{$max767} {
                margin: 0px 5px;
              }
            }
          }
        }
      }
    }

    .tft-menus-section {
      background: $tft-color-white;
      padding-top: 32px;
      padding-bottom: 32px;
      @media #{$max1024} {
        padding: 12px 0;
      }
      .tft-flex {
        justify-content: space-between;
        align-items: center;

        .tft-menu {
          max-width: 33%;
          width: 100%;

          ul {
            margin: 0;
            padding: 0;
            list-style: none;

            li {
              margin-right: 32px;
              display: inline-block;

              a {
                color: $tft-color-text;
                font-weight: 400;
                padding: 0px;
              }

              .sub-menu {
                li {
                  margin: 0px;
                  display: block;
                  padding: 5px 10px;
                }
              }
            }

            li.current_page_item>a {
              color: $tft-color-primary;
            }

            li:last-child {
              margin: 0px;
            }
          }

          ul.sub-menu {
            background: $tft-color-orange-light;
            box-shadow: 0px 20px 40px 0px rgba(0, 0, 0, 0.1);
            padding: 8px;

            li {
              margin-bottom: 4px;
              padding: 10px;
              transition: 0.3s all ease;

              &:last-child {
                margin-bottom: 0px;
              }
            }
          }
        }

        .tft-logo {
          max-width: 33%;
          width: 100%;
          text-align: center;
          @include d-flex();
          @include align-items(center);
          @include justify-content(center);

          @media #{$max991} {
            max-width: 50%;
            text-align: left;
          }

          a.custom-logo-link {
            @include d-flex();
            img {
              max-width: var(--tf-logo-width);
            }
          }

          .logo-text {
            a {
              font-size: 2rem;
              font-weight: 700;
              color: $tft-color-text;
            }
          }
        }

        .tft-account {
          max-width: 33%;
          width: 100%;
          text-align: right;

          ul {
            margin: 0;
            padding: 0;

            li {
              display: inline-block;

              a {
                padding: 12px 32px;
                color: $tft-color-text;
                font-size: 1rem;
                font-weight: 700;
                text-decoration: none;
                display: inline-block;
                transition: 0.3s all ease;

                &:hover {
                  color: $tft-color-primary;
                }
              }

              a.login {
                border: 1px solid $tft-color-primary;

                &:hover {
                  background: $tft-color-secondary;
                  color: $tft-color-white;
                  border-color: $tft-color-secondary;
                }
              }
            }
          }
        }
      }
    }

    .tft-menus-section.tft-header-mobile {
      .tft-main-header-wrapper {
        min-height: auto;
        align-items: center;

        .tft-header-left {
          .logo-text {
            a {
              color: $tft-color-text;
            }
          }
        }

        .tft-header-center {
          .tft-mobile_menubar {
            i {
              color: $tft-color-text;
            }
          }
        }
      }

      .tft-mobile-main-menu {
        .tft-site-navigation {
          background-color: $tft-color-orange-light;
          top: 12px;

          ul {
            li {
              display: block;
              width: 100%;
              border: 0px solid;

              a {
                color: $tft-color-text;
                font-size: 1rem;
                font-weight: 600;
                line-height: 1.3;
                padding: 8px 32px;
              }

              ul {
                background-color: $tft-color-orange-light;

                li {
                  a {
                    color: $tft-color-text;
                    font-size: 1rem;
                    font-weight: 600;
                    line-height: 1.3;
                  }
                }
              }
            }
          }

          .tft-social-share {
            ul {
              margin: 32px 0px 0px 0;

              li {
                display: inline-block;
                width: auto;

                a {
                  display: inline-block;
                  padding: 5px;
                }
              }
            }
          }
        }
      }
    }

    .tft-menus-section.tft_has_transparent {
      position: absolute;
      left: 0;
      right: 0;
      z-index: 99;
      background: rgba(48, 40, 28, 0.3);
      backdrop-filter: blur(15px);
      .tft-menu{
        ul {
          li {
            a {
              color: $tft-color-white;
            }
          }
        }
      } 
      .tft-logo{
        .logo-text {
          a {
            color: $tft-color-white;
            &:hover{
              color: $tft-color-primary;
            }
          }
        }
      }
      .tft-header-center {
        .tft-mobile_menubar {
          i {
            color: $tft-color-white;
          }
        }
      }
      .tft-account {
        ul {
          li{
            a{
              color: $tft-color-white;
            }
          }
        }
      }
    
      
    }

    
  }

  &__three {
    background: $tft-color-blue;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

    @media #{$max767} {
      min-height: auto;
    }

    // container
    &__container {
      @media #{$max991} {
        padding: 0;
      }

      &.tft-fullwidth-container {
        padding-left: 0;
        padding-right: 0;

        .tft-design-3__content-left {
          padding-left: 32px;

          @media #{$max991} {
            padding-left: 15px;
          }
        }

        .tft-design-3__topbar {
          padding-left: 32px;

          @media #{$max991} {
            padding-left: 0;
          }
        }

        .tft-design-3__bottom {
          padding-right: 32px;
          @media #{$max991} {
            padding-right: 15px;
          }
        }
      }
    }

    // logo
    &__logo {
      text-align: center;
      a {
        font-size: 2rem;
        font-weight: 700;
        color: $tft-color-white;

        &:hover {
          color: $tft-color-white;
        }

        img {
          vertical-align: middle;
          max-width: var(--tf-logo-width);

          @media #{$max991} {
            max-width: 160px;
          }
        }
      }
    }

    // header content
    &__content {
      @include d-flex();
      @include align-items(center);

      @media #{$max767} {
        align-items: inherit;
      }

      // header left
      &-left {
        max-width: 500px;
        flex: 1;
        padding-left: 6.3%;

        @media (max-width: 1850px) {
          padding-left: 5%;
        }

        @media (max-width: 1760px) {
          max-width: 450px;
        }

        @media (max-width: 1680px){
          max-width: 350px;
          padding-left: 3%;
        }

        @media (max-width: 1480px) {
          max-width: 300px;
        }

        @media (max-width: 1399px) {
          max-width: 260px;
        }

        @media #{$max1199} {
          max-width: 250px;
        }

        @media #{$max991} {
          max-width: 240px;
        }

        @media #{$max767} {
          @include d-flex();
          @include justify-content(space-between);
          @include align-items(center);
          width: 100%;
          max-width: 100%;
          padding: 15px;
          min-height: 70px;
          flex-basis: 30%;
        }
      }

      // header right
      &-right {
        flex: 1;
        position: relative;
        background: $tft-color-white;
        margin-left: 52px;

        @media #{$max991} {
          padding-left: 0;
          clip-path: none;
          margin-left: 0;
          min-height: 70px;
          @include d-flex();
          @include align-items(center);
          @include justify-content(end);
          padding-right: 15px;
        }

        &::before {
          content: "";
          position: absolute;
          left: -48px;
          padding-right: 0;
          top: 0;
          background-color: $tft-color-white;
          height: 100%;
          clip-path: polygon(23.5% 0%, 2000% 0, 100% 100%, 0% 100%);
          z-index: -1;
          width: 205px;

          @media #{$max991} {
            width: 150px;
            left: -35px;
            z-index: 1;
          }
        }
      }
    }

    // header topbar
    &__topbar {
      padding-left: 20px;
      position: relative;
      background: linear-gradient(0deg, $tft-color-secondary, $tft-color-secondary), linear-gradient(0deg, $tft-color-secondary, $tft-color-secondary);
      min-height: 45px;
      @include d-flex();
      @include align-items(center);
      @include justify-content(space-between);
      margin-left: 30px;
      z-index: 99;
      padding-right: 8%;

      @media (max-width: 1850px) {
        padding-right: 4%;
      }

      @media (max-width: 1760px) {
        padding-right: 3%;
      }

      @media (max-width: 1480px) {
        padding-right: 15px;
      }

      @media (max-width: 1399px) {
        padding-left: 15px;
        margin-left: 30px;
        min-height: 45px;
      }

      @media (max-width: 1366px) {
        padding-left: 5px;
      }

      @media #{$max991} {
        padding-left: 0;
        min-height: 40px;
        width: 100%;
        @include justify-content(end);
        margin-left: 25px;
        margin-right: -15px;
        padding-right: 0;
      }

      @media #{$max767} {
        display: none;
      }

      @media #{$max575} {
        @include justify-content(center);
      }

      &::after {
        content: "";
        position: absolute;
        left: -20px;
        padding-right: 100%;
        top: 0;
        background: linear-gradient(0deg, $tft-color-secondary, $tft-color-secondary), linear-gradient(0deg, $tft-color-primary, $tft-color-primary);
        width: auto;
        height: 100%;
        transform: skewX(-19deg);
        z-index: -1;

        @media #{$max991} {
          transform: skewX(-20deg);
        }

        @media #{$max767} {
          display: none;
        }
      }

      &-right {
        @media #{$max991} {
          display: none;
        }

        &.mobile-view {
          display: none;

          @media #{$max991} {
            display: block;

            a,
            select {
              color: $tft-color-text;
            }
          }

          .tft-design-3__topbar-list-item:first-child {
            @media #{$max575} {
              display: block;
            }
          }
        }
      }

      &-left {
        @media #{$max991} {
          padding: 10px 15px 10px 0;
        }

        @media #{$max575} {
          flex: 1;
        }
      }

      &-list {
        @include d-flex();
        @include align-items(center);
        gap: 30px;

        @media (max-width: 1399px) {
          gap: 20px;
          @include align-items(baseline);
        }

        @media #{$max991} {
          gap: 15px;
        }

        @media #{$max575} {
          @include justify-content(space-between);
        }

        &-item {
          @media (max-width: 1399px) {
            max-height: 24px;
            min-height: 24px;
          }

          @media #{$max1199} {
            max-height: initial;
            min-height: initial;
          }
        }

        &-link {
          @include d-flex();
          @include align-items(center);
          gap: 10.5px;
          color: $tft-color-white;

          &:hover {
            color: $tft-color-white;
          }

          &:visited {
            color: $tft-color-white;
          }

          @media (max-width: 1399px) {
            font-size: 0.938rem;
          }

          @media #{$max991} {
            font-size: 0.875rem;
            line-height: 1.3;
            gap: 8px;

            svg {
              width: 15px;
            }
          }

          svg {
            @media #{$max575} {
              width: 14px;
              margin-top: 1px;
            }
          }
        }

        &:hover {
          color: $tft-color-white;
        }

        &:focus {
          color: $tft-color-white;
          outline: none;
          box-shadow: none;
        }

        &-select {
          background: transparent;
          border: 0;
          color: $tft-color-white;
          cursor: pointer;

          &:focus {
            color: $tft-color-white;
            outline: none;
            box-shadow: none;
          }

          option {
            color: $tft-color-heading;
            cursor: pointer;
          }
        }
      }
    }

    &__bars {
      display: none;

      @media #{$max1199} {
        position: absolute;
        min-height: 20px;
        right: 15px;
        top: 63px;
        cursor: pointer;
        width: 30px;
        z-index: 999;
        display: block;
        line-height: 0;

        &--icon {
          width: 30px;
          height: 2px;
          background: $tft-color-heading;
          position: absolute;
          top: 0;
          cursor: pointer;

          &:nth-child(2) {
            top: 8px;
          }

          &:nth-child(3) {
            top: 17px;
          }
        }
      }

      @media #{$max991} {
        position: relative;
        right: inherit;
        left: 0;
        top: inherit;
      }
    }

    // header bottom
    &__bottom {
      padding: 16px 0 16px 54.13px;
      @include d-flex();
      @include align-items(center);
      @include justify-content(space-between);
      padding-right: 8%;

      @media (max-width: 1850px) {
        padding-right: 4%;
        padding-left: 30px;
      }

      @media (max-width: 1760px) {
        padding-right: 3%;
      }

      @media (max-width: 1480px) {
        padding: 15px;
        gap: 20px;
        @include justify-content(space-between);
      }

      @media #{$max1199} {
        gap: 15px;
        @include justify-content(end);
        padding: 10px 60px 10px 15px;
      }

      @media #{$max991} {
        padding: 8px 15px 8px 15px;
        gap: inherit;
      }

      @media #{$max767} {
        display: none;
      }

      &__nav {
        min-width: 754px;
        flex: 1;

        @media (max-width: 1680px) {
          min-width: auto;
        }

        @media #{$max1199} {
          display: none;
        }

        &--list {
          @include d-flex();
          gap: 32px;
          row-gap: 10px;

          @media (max-width: 1680px) {
            gap: 30px;
          }

          @media (max-width: 1366px) {
            gap: 20px;
          }

          @media #{$max1199} {
            @include justify-content(center);
          }

          .menu-item {
            &.menu-item-has-children {
              position: relative;
              padding-right: 20px;

              &:hover {
                .sub-menu {
                  visibility: visible;
                  transform: translateY(0px);
                }
              }

              &::after {
                content: "\f078";
                display: inline-block;
                font-size: 0.6rem;
                font-weight: bold;
                text-rendering: auto;
                margin-left: 0px;
                line-height: 1;
                font-family: "Font Awesome 5 Free";
                z-index: 99;
                position: absolute;
                top: 9px;
                height: 100%;
                right: 3px;

                @media #{$max1199} {
                  position: absolute;
                  right: 20px;
                  color: $tft-color-white;
                  top: 14px;
                }
              }

              // Styling for submenus
              .sub-menu {
                position: absolute;
                z-index: 9;
                background: $tft-color-white;
                box-shadow: 0px 4px 16px 0px rgba(2, 28, 53, 0.2);
                margin: 0;
                padding: 8px 0px;
                width: max-content;
                min-width: 220px;
                display: flex;
                flex-direction: column;
                gap: 7px;
                left: auto;
                top: 25px;
                display: none;
                transform: translateY(40px);
                @include bd-radius(4px);
                @include transition(0.3s);

                // Adjust for different screen sizes
                @media (max-width: 1399px) {
                  left: -100px;
                }

                @media #{$max1199} {
                  position: relative;
                  background: transparent;
                  box-shadow: unset;
                  display: none;
                }

                .menu-item {
                  a {
                    display: block;
                    padding: 10px 16px;
                    text-transform: capitalize;
                  }
                }


                .menu-item-has-children {
                  &::after {
                    top: 50%;
                    right: 12px;
                    height: auto;
                    transform: rotate(-90deg) translateX(56%);
                  }

                  .sub-menu {
                    left: 100%;
                    top: 0;
                  }

                  &:hover {
                    .sub-menu {
                      visibility: visible;
                      transform: translateY(10px);
                    }
                  }
                }
              }
            }

            a {
              font-size: 1rem;
              font-weight: 700;
              color: $tft-color-text;
              @include transition(0.1s);
              text-transform: uppercase;
              padding: 24px 0;
              text-transform: capitalize;
              display: inline;

              &:hover {
                color: $tft-color-primary;
              }
            }
          }
        }

        &.tft-site-navigation {
          ul {
            justify-content: start;

            li {
              padding: 0;

              a {
                &::after {
                  display: none;
                }
              }
            }
          }
        }
      }

      &__right {
        @include d-flex();
        @include align-items(center);
        gap: 30px;

        @media (max-width: 1480px) {
          gap: 15px;
        }

        &__list {
          @include d-flex();
          @include align-items(center);
          gap: 24px;

          @media (max-width: 1366px) {
            gap: 20px;
          }

          @media (max-width: 1480px) {
            gap: 15px;
          }

          &__item {
            position: relative;

            &--link {
              display: block;
              width: 45px;
              height: 45px;
              @include d-flex();
              @include align-items(center);
              @include justify-content(center);
              background: $tft-color-white;
              border: 1px dashed $tft-color-text;
              @include box-circle();

              @media (max-width: 1480px) {
                width: 42px;
                height: 42px;
              }

              @media #{$max1199} {
                width: 40px;
                height: 40px;
              }

              @media #{$max991} {
                width: 35px;
                height: 35px;
              }

              svg {
                @media #{$max991} {
                  width: 16px;
                  height: 16px;
                }
                path{
                  fill: $tft-color-text;
                }
              }
            }

            &--search {
              position: absolute;
              left: -100px;
              transform: translateY(40px);
              @include transition(0.3s);
              box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
              visibility: hidden;

              @media #{$max767} {
                left: 0;
              }

              .search-form {
                min-width: 250px;
                font-weight: 500;

                @media #{$max767} {
                  min-width: 200px;
                }
              }

              input[type="search"] {
                border: 0;
                padding: 10px 12px;
                font-size: 0.875rem;
                color: $tft-color-text;
                @include bd-radius(0);

                @media #{$max767} {
                  padding: 6px 12px;
                }
              }

              &__button {
                position: absolute;
                right: 0;
                top: 50%;
                transform: translateY(-50%);
                border: 0;
                background: $tft-color-primary;
                color: $tft-color-white;
                font-size: 0.875rem;
                height: 100%;
                @include bd-radius(0);
                cursor: pointer;
              }

              &.active {
                visibility: visible;
                transform: translateY(20px);

                @media (max-width: 1399px) {
                  transform: translateY(17px);
                }

                @media #{$max1199} {
                  transform: translateY(15px);
                }

                @media #{$max991} {
                  transform: translateY(9px);
                }

                @media #{$max767} {
                  transform: translateY(8px);
                }
              }
            }
          }
        }

        &__button {
          @media #{$max575} {
            display: none;
          }

          .tft-btn {
            @media (max-width: 1366px) {
              min-width: 140px;
              min-height: 45px;
              font-size: 0.938rem;
            }

            @media #{$max991} {
              min-height: 38px;
              font-size: 0.875rem;
              min-width: 130px;
            }
          }
        }

        &__box {
          line-height: 1;

          @media #{$max575} {
            display: none;
          }
        }
      }
    }
  }
}

// mobile sidenav
.mobile-sidenav {
  position: fixed;
  top: 0;
  left: -100%;
  height: 100%;
  width: 280px;
  background-color: $tft-color-dark-blue;
  overflow-x: hidden;
  transition: 0.5s ease;
  z-index: 99999;

  &__close {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 2.25rem;
    color: $tft-color-white;
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
  }

  &__nav {
    margin-top: 70px;

    &--list {
      list-style-type: none;
      padding: 0;
      margin: 0;

      .menu-item {
        position: relative;

        a {
          padding: 7px 25px;
          color: $tft-color-white;
          display: block;
          transition: 0.3s;

          &:hover {
            color: $tft-color-primary;
          }
        }

        .sub-menu {
          display: none;
        }
      }
    }
  }

  &.open {
    left: 0;
  }

  .tft-design-3__bottom__right__button {
    display: none;

    @media #{$max575} {
      display: block;
    }
  }

  &__middle {
    padding: 0px 25px;
    display: none;

    @media #{$max767} {
      display: block;
    }

    ul {
      li {
        padding-top: 7px;
        padding-bottom: 7px;

        a {
          color: $tft-color-white;
          font-size: 0.938rem;
        }
      }
    }

    .tf-flex {
      margin: 10px 0;
      gap: 15px;

      .tft-design-3__bottom__right__list__item--link {
        border-color: $tft-color-white;
        background: transparent;

        path {
          fill: $tft-color-white;
        }
      }
    }
  }

  &__bottom {
    display: none;
    padding: 15px 25px;

    @media #{$max767} {
      display: block;
    }
  }
}

body.wp-singular,
body.blog,
body.archive{
  .tft-header-design__two {
    box-shadow: rgba(17, 17, 26, 0.1) 0px 0px 16px;
  }
}