.tft-w-padding {
  padding-left: 200px;
  padding-right: 200px;
}

.tft-design-2 .tft-top-header {
  background: #595349;
  padding-top: 16px;
  padding-bottom: 16px;
}
.tft-design-2 .tft-top-header .tft-flex {
  justify-content: space-between;
  align-items: center;
}
.tft-design-2 .tft-top-header .tft-flex .tft-contact-info ul {
  margin: 0;
  padding: 0;
}
.tft-design-2 .tft-top-header .tft-flex .tft-contact-info ul li {
  display: inline-flex;
  color: #FDF9F3;
  margin-left: 24px;
  align-items: center;
}
.tft-design-2 .tft-top-header .tft-flex .tft-contact-info ul li svg {
  margin-right: 8px;
}
.tft-design-2 .tft-top-header .tft-flex .tft-contact-info ul li:first-child {
  margin: 0px;
}
.tft-design-2 .tft-top-header .tft-flex .tft-social-share ul {
  margin: 0;
  padding: 0;
}
.tft-design-2 .tft-top-header .tft-flex .tft-social-share ul li {
  display: inline-block;
  margin-left: 20px;
}
.tft-design-2 .tft-top-header .tft-flex .tft-social-share ul li:first-child {
  margin: 0px;
}
.tft-design-2 .tft-menus-section {
  background: #FDF9F3;
  padding-top: 32px;
  padding-bottom: 32px;
}
.tft-design-2 .tft-menus-section .tft-flex {
  justify-content: space-between;
  align-items: center;
}
.tft-design-2 .tft-menus-section .tft-flex .tft-menu {
  max-width: 33%;
  width: 100%;
}
.tft-design-2 .tft-menus-section .tft-flex .tft-menu ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.tft-design-2 .tft-menus-section .tft-flex .tft-menu ul li {
  margin-right: 32px;
  display: inline-block;
}
.tft-design-2 .tft-menus-section .tft-flex .tft-menu ul li a {
  text-decoration: none;
  color: #595349;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  padding: 0px !important;
}
.tft-design-2 .tft-menus-section .tft-flex .tft-menu ul li .sub-menu li {
  margin: 0px;
  display: block;
  padding: 5px 10px;
}
.tft-design-2 .tft-menus-section .tft-flex .tft-menu ul li:last-child {
  margin: 0px;
}
.tft-design-2 .tft-menus-section .tft-flex .tft-logo {
  max-width: 33%;
  width: 100%;
  text-align: center;
}
.tft-design-2 .tft-menus-section .tft-flex .tft-logo a.custom-logo-link img {
  width: 160px;
}
.tft-design-2 .tft-menus-section .tft-flex .tft-logo .logo-text a {
  text-decoration: none;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  color: #595349;
}
.tft-design-2 .tft-menus-section .tft-flex .tft-account {
  max-width: 33%;
  width: 100%;
  text-align: right;
}
.tft-design-2 .tft-menus-section .tft-flex .tft-account ul {
  margin: 0;
  padding: 0;
}
.tft-design-2 .tft-menus-section .tft-flex .tft-account ul li {
  display: inline-block;
}
.tft-design-2 .tft-menus-section .tft-flex .tft-account ul li a {
  padding: 12px 32px;
  color: #595349;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  text-decoration: none;
  display: inline-block;
}
.tft-design-2 .tft-menus-section .tft-flex .tft-account ul li a.login {
  border: 1px solid #B58E53;
}
.tft-design-2 .tft-footer-sections {
  padding-top: 64px;
  padding-bottom: 32px;
  background-color: #595349;
  color: #FDF9F3;
}
.tft-design-2 .tft-footer-sections a {
  color: #FDF9F3;
}
.tft-design-2 .tft-footer-sections .tft-grid {
  display: flex;
  justify-content: space-between;
  align-content: flex-start;
  flex-wrap: nowrap;
  gap: 83px;
}
.tft-design-2 .tft-footer-sections .tft-grid .tft-footer-section {
  width: 100%;
}
.tft-design-2 .tft-footer-sections .tft-grid h2 {
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  color: #B58E53;
  margin-bottom: 15px;
  line-height: 32px;
}
.tft-design-2 .tft-footer-sections .tft-grid ul {
  margin: 0;
  padding: 0;
}
.tft-design-2 .tft-footer-sections .tft-grid ul li {
  display: block;
  padding-bottom: 8px;
  margin: 0;
}
.tft-design-2 .tft-footer-sections .tft-grid ul li a {
  text-decoration: none;
  display: block;
  color: #FDF9F3;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
}
.tft-design-2 .tft-footer-sections .tft-grid ul li a:hover {
  color: #FDF9F3 !important;
}
.tft-design-2 .tft-footer-sections .tft-grid ul li:last-child {
  padding-bottom: 0px;
}
.tft-design-2 .tft-footer-sections .tft-grid p {
  margin: 0;
}
.tft-design-2 .tft-footer-sections .tft-footer-copyright {
  border-top: 0.5px solid #99948D;
  margin-top: 32px;
}
.tft-design-2 .tft-footer-sections .tft-footer-copyright p {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
  margin: 0;
  padding-top: 32px;
  color: #99948D;
  text-align: center;
}
.tft-design-2 .tft-footer-sections .tft-footer-copyright p a {
  text-decoration: none;
  color: #99948D;
}

/*# sourceMappingURL=design-2.css.map */
