:root{
  --tft-border-color: var(--border-color);
}

@import url("https://fonts.googleapis.com/css2?family=Brygada+1918:ital,wght@0,400..700;1,400..700&family=Caveat:wght@400..700&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

$font-ubuntu: "Ubuntu", sans-serif;
$font-caveat: "Caveat", cursive;
$font-brygada: "Brygada 1918", serif;
$font-cormorant: "Cormorant Garamond", sans-serif;
$font-josefin: 'Josefin Sans';
$font-nunito: 'Nunito', sans-serif;

// ================================ //
// color variable
// ================================ //

$body-color: var(--body-text-color);
$heading-color: var(--heading-color);
$color-white: var(--color-white);
$border-color: var(--tft-border-color);
$highlights-background : var(--highlights-background);
$light-background: var(--light-background);

$color-blue: #07245f;
$color-dark-blue: #101f36;
$color-dark-blue2: #203453;
$color-dark-blue3:#132847;
$color-black: #000000;
$color-light-white: #efefef;


// ================================ //
// Linear gradient
// ================================ //
$linear-gradient: linear-gradient(0deg, #1342e0, #1342e0),
  linear-gradient(0deg, #0e3dd8, #0e3dd8);
$linear-gradient2:linear-gradient(180deg, rgba(14, 61, 216, 0.8) 5.87%, rgba(0, 57, 204, 0.03) 125.37%);


// ================================ //
// Font Family
// ================================ //

.font-ubuntu {
  font-family: $font-ubuntu;
}

.font-caveat {
  font-family: $font-caveat;
}

.font-brygada {
  font-family: $font-brygada;
}

.font-cormorant {
  font-family: $font-cormorant;
}
.font-josefin {
  font-family: $font-josefin;
}

.font-nunito {
  font-family: $font-nunito;
}

// ================================ //
//Media Query
// ================================ //

$min992: "only screen and (min-width: 992px)";
$min576: "only screen and (min-width: 576px)";

$max1920: "only screen and (max-width: 1920px)";
$max1850: "only screen and (max-width: 1850px)";
$max1800: "only screen and (max-width: 1800px)";
$max1760: "only screen and (max-width: 1760px)";
$max1680: "only screen and (max-width: 1680px)";
$max1650: "only screen and (max-width: 1650px)";
$max1480: "only screen and (max-width: 1480px)";
$max1399: "only screen and (max-width: 1399.98px)";
$max1366: "only screen and (max-width: 1366px)";
$max1280: "only screen and (max-width: 1280px)";
$max1200: "only screen and (max-width: 1200px)";
$max1199: "only screen and (max-width: 1199.98px)";
$max1024: "only screen and (max-width: 1024.98px)";
$max991: "only screen and (max-width: 991.98px)";
$max767: "only screen and (max-width: 767.98px)";
$max640: "only screen and (max-width: 640px)";
$max575: "only screen and (max-width: 575.98px)";
$max480: "only screen and (max-width: 480px)";
$max375: "only screen and (max-width: 375.98px)";
$max340: "only screen and (max-width: 340px)";
$max320: "only screen and (max-width: 320px)";
