// Destination design 1
.tft-destination-wrapper {
    .tft-destination {
        display: flex;
        gap: 20px;
        flex-wrap: wrap;
        justify-content: center;

        .tft-single-destination {
            flex-basis: calc(25% - 20px);

            @media #{$max1199} {
                flex-basis: calc(33.33% - 20px);
            }

            @media #{$max991} {
                flex-basis: calc(50% - 20px);
            }

            @media #{$max575} {
                flex-basis: 100%;
            }

            .tft-destination-thumbnail {
                height: 275px;
                margin-bottom: 8px;

                a {
                    display: block;

                    img {
                        height: 275px;
                        object-fit: cover;
                        width: 100%;
                        border-radius: 10px;
                    }
                }
            }

            .tft-destination-title {
                margin-bottom: 4px;

                a {
                    font-size: 24px;
                    font-weight: 600;
                    margin: 6px 0px;
                    display: block;
                    color: #1D2A3B;
                }
            }

            .tft-destination-details {
                ul {
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: space-between;
                    width: 100%;
                    list-style: none;
                    margin: 0;
                    padding: 0;

                    li {
                        flex-basis: 50%;

                        a {
                            font-size: 1rem;
                            font-weight: 400;

                            &:hover {
                                color: #F15D30;
                            }
                        }
                    }
                }
            }
        }
    }
}