// testimonial design 1
.tft-testimonials-wrapper {
    .tft-single-testimonial {
        .tft-testimonials-inner {
            background: #fff;
            box-shadow: 1px 10px 20px rgba(29, 42, 59, 0.05);
            padding: 28px;
            border-radius: 20px;
            transition: all 0.3s ease;
            border: 1px solid rgba(29, 42, 59, 0.1);
            cursor: pointer;

            &:hover {
                background-color: #1d2a3b;
                transition: all 0.3s ease;
            }

            .testimonial-header {
                display: flex;
                align-items: center;
                column-gap: 24px;
                padding-bottom: 32px;

                .person-avatar {
                    max-width: 80px;

                    img {
                        border-radius: 50px;
                        height: 80px;
                        width: 80px;
                        object-fit: cover;
                    }
                }

                .person-info {
                    h4.person-name {
                        margin-top: 0px;
                        margin-bottom: 0px;
                        font-size: 24px;
                    }

                    p {
                        margin: 0px;
                    }
                }
            }

            .testimonial-body {
                .tft-content {
                    font-size: 18px;
                    font-weight: 400;
                }
            }

            .testimonial-footer {
                i {
                    color: #f15d30;
                }
            }

        }
    }

    .slick-list {
        margin: 0 -10px !important;
        overflow: visible;

        &.draggable {
            overflow: hidden;
        }

        .slick-track {
            padding: 40px 0px;
            overflow: hidden;

            .slick-slide {
                margin: 0 10px !important;
            }

            .slick-prev,
            .slick-next {
                top: -50px;
                background-color: #fff;
                border: 1px solid #1D2A3B33;
                color: #F15D30;

                @media #{$max767} {
                    top: -36px;
                }

                &::before {
                    display: none;
                }

            }

            .slick-prev {
                left: 90%;

                @media #{$max767} {
                    left: 75%;
                }
            }

            .slick-next {
                right: 0px;
            }
        }
    }
}